html,
body {
	height: 100%;
	position: relative;
}

.page-wrap {
	height: auto;
	min-height: 90%;
	padding-bottom: 212px;
}

.header-wrap {
	width: 100%;
	background-color: #16A085;
	color: #fff;
}

.header {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
}

.header .logo {
	background-image: url(https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/camel-64.png);
	background-repeat: no-repeat;
	padding: 20px;
	padding-left: 75px;
	display: inline-block;
	font-size: 25px;
	color: #fff;
	line-height: 25px;
}

.header ul.menu {
	display: inline-block;
	line-height: 65px;
}

.header ul.menu li {
	display: inline-block;
	margin: 0 5px;
}

.header ul.menu li a {
	text-decoration: none;
	color: #fff;
	position: relative;
}

.header ul.menu li a:before {
	position: absolute;
	bottom: -7px;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #fff;
	display: block;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	transform: scaleX(0);
}

.header ul.menu li a.active:before,
.header ul.menu li a:hover:before {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	transform: scaleX(1);
}

.page-preloader {
	position: relative;
	background-position: center;
	background-image: url('../img/preload.gif');
	background-repeat: no-repeat;
	width: 100%;
}

.page-body {
	width: 860px;
	margin: 50px auto;
	min-height: 100%;
}

.page-body .side-menu {
	float: left;
	width: 170px;
}

.page-body .side-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 20px;
	margin-bottom: 20px;
}

.page-body .side-menu ul li {
	padding: 3px 0;
}

.page-body .side-menu ul li a {
	text-decoration: none;
	display: block;
	color: #444;
	padding-left: 5px;
}

.page-body .side-menu ul li a:hover {
	background-color: #eee;
}

.side-menu .sub-head {
	font-size: 16px;
	font-weight: bold;
	color: #757D75;
	margin-left: 20px;
	padding-left: 3px;
	margin-bottom: 5px;
	display: inline-block;
}

.page-body .page-content {
	border-left: 1px solid #eee;
	width: 690px;
	margin-left: 170px;
	padding-left: 30px;
}

.content-section {
	margin-bottom: 50px;
}

code[src-data] {
	margin: 20px 0 !important;
	border-radius: 0 !important;
	padding: 0.7em !important;
	font-size: 14px;
}

.color-swatches {
	font-size: 0;
}

.color-swatches .item {
	display: inline-block;
	padding: 20px;
	color: #fff;
	width: 130px;
	height: 70px;
	vertical-align: top;
	font-size: 14px;
}

.footer-wrap {
	clear: both;
	padding: 100px 0;
	background-color: #264348;
	color: #fff;
	margin-top: -212px;
}

.footer {
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

.footer-menu {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}

.footer-menu li {
	display: inline-block;
	padding: 0 15px;
	line-height: 12px;
	font-size: 14px;
}

.footer-menu li + li {
	border-left: 1px solid #fff;
}
