.relative       {position: relative;}
.fixed          {position: fixed;}
.absolute       {position: absolute;}

.bold           {font-weight: bold;}
.italic         {font-style: italic;}
.normal         {font-style: normal;font-weight: normal}

.text-left      {text-align:left}
.text-right     {text-align:right}
.text-center    {text-align:center}
.text-justify   {text-align:justify}
.text-overflow  {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.pull-left      {float: left !important;}
.pull-right     {float: right !important;}
.center-block   {display: block;margin-left: auto;margin-right: auto;}
.clearfix:before,
.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix       {zoom:1;}
.block          {display: block}
.inline         {display: block;}
.inline-block   {display: inline-block;}
.show           {display: block !important;}
.hidden         {display: none !important;visibility: hidden !important;}
.invisible      {visibility: hidden;}
.noselect       {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}