body
{
	font-family: Helvetica, Arial, sans-serif;
	color: #414341;
	font-size: 14px;
	line-height: 1.5em;
	text-rendering: optimizelegibility;
}

h1,h2,h3,h4,h5,h6 
{
	padding: 0;
	margin: 0;
	font-weight: bold;
	line-height: 2em;
	font-family: inherit;
	color: inherit;
}

h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

a        { cursor: pointer;text-decoration:none;color: #08c; }
a:focus  { outline: thin dotted #333;outline-offset: -2px; }
a:hover,
a:active { text-decoration:underline;outline: 0; }

p        {margin: 0 0 10px 0;}
b,strong {font-weight: bold;}
em,i     {font-style: italic;}
q        {font-style: italic;}
del,s    {text-decoration: line-through;}

blockquote
{
	margin: 0;
	margin-left: 20px;
	padding-left: 10px;
	border-left: 5px solid #eee;
	quotes: "\201C" "\201D";
	line-height: 1.5em;
}

blockquote:before {
    color: #ddd;
    font-size: 3em;
    line-height: .1em;
    margin-right: .2em;
    vertical-align: -.4em;
    content: open-quote; 
    font-weight: bold;
}

blockquote:after {
    color: #ddd;
    font-size: 3em;
    line-height: .1em;
    vertical-align: -.45em;
    content: close-quote; 
    font-weight: bold;
}

small {font-size: 85%;}
big   {font-size: 120%;}

abbr  {cursor: help;border-bottom: 1px dashed #999;}

hr {
	margin: 15px 0;
	border: 0;
	border-top: 1px solid #eee;
}

sub,
sup {
	position: relative;
	font-size: 90%;
	line-height: 100%;
	vertical-align: baseline;
}

sup {top: -.5em;}
sub {bottom: -.25em;}

dl {padding: 0;margin: 0;}
dt {font-weight: bold;}
dd {margin-left: 20px;}

table {
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

table th,
table td {
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #ddd;
}

table th {
	font-weight: bold;
	background-color: #eee;
	vertical-align: middle;
}

ul,
ol
{
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

li
{
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}

iframe
{
	border: 0;
}

img
{
	border: 0;
}

address 
{
	display: block;
	font-style: italic;
}

div {display: block;position: relative;}
span {display: inline;position: relative;}

form, button, input, select, textarea,
fieldset, legend, label
{
	padding: 0;
	margin: 0;
	border:0;
	line-height: 100%;
	font-family: Arial;
	font-size: 14px;
	color: inherit;
	position: relative;
	outline: none;
}

fieldset
{
	padding: 0 10px;
	margin: 0px;
	border: 1px solid #ddd;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius: 2px;
	-khtml-border-radius: 2px;
}

legend
{
	padding: 5px;
	font-weight: bold;
	line-height: 100%;
}

label
{
	vertical-align: middle;
}

button,
input[type=button],
input[type=submit],
input[type=reset]
{
	display:inline-block;
	margin: 2px;
	padding: 10px 15px;
	color: inherit;
	border: 1px solid #cdcdcd;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
	cursor:pointer;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius: 2px;
	-khtml-border-radius: 2px;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
	zoom: 1;
	opacity:0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(style=0,opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
}

button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active
{
	top: 1px;
}

button[disabled]:active,
input[type=button][disabled]:active,
input[type=submit][disabled]:active,
input[type=reset][disabled]:active
{
	top:0px;
}

input[type=text]:focus,
input[type=password]:focus, 
select:focus,
textarea:focus 
{
	box-shadow: 0 0 3px #93d0ea;
	border: 1px solid #93d0ea;
}

input[type=text],
input[type=password],
textarea
{
	width: 200px;
	margin: 2px;
	padding: 8px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	vertical-align: middle;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea 
{ 
	overflow: auto;
	line-height: 1.2em;
	resize: none;
}

select
{
	width: 200px;
	padding: 7px;
	margin: 2px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px #ddd;
	vertical-align: middle;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius: 2px;
	-khtml-border-radius: 2px;
}

input[type=checkbox],
input[type=radio]
{
	margin: 0 3px 2px 3px;
	vertical-align: middle;
}

input[type=text][disabled],
input[type=password][disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled],
textarea[disabled],
select[disabled],
button[disabled]
{
	background: #eee;
	color: #aaa;
}

input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner 
{
	border: 0; 
	padding: 0;
	margin-bottom: -2px; 
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-input-placeholder
{
	line-height: 1.2em;
}

input:-moz-placeholder 
{
	line-height: 1.2em;
}

input::-moz-placeholder 
{
	line-height: 1.2em;
}

input:-ms-input-placeholder 
{
	line-height: 1.2em;
}