/* base */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #414341;
  font-size: 14px;
  line-height: 1.5em;
  text-rendering: optimizelegibility; }

iframe {
  border: 0; }

img, map, area {
  border: 0; }

div {
  display: block;
  position: relative; }

span {
  display: inline;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 2em; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #0088cc; }

a:hover,
a:active {
  text-decoration: underline;
  outline: 0; }

p {
  margin: 0 0 1em 0; }

b, strong {
  font-weight: bold; }

em, i, dfn {
  font-style: italic; }

q, cite {
  font-style: italic; }

del, s {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

kbd {
  color: #fff;
  background-color: #414341;
  line-height: 1;
  padding: 0.15em;
  border-radius: 0.15em; }

code,
samp {
  background-color: #eeeeee;
  border-left: 4px solid #dddddd;
  padding: 10px;
  display: block; }

blockquote {
  margin: 0;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 5px solid #eeeeee;
  quotes: "\201C" "\201D";
  line-height: 1.5em; }

blockquote:before {
  color: #dddddd;
  font-size: 3em;
  line-height: .1em;
  margin-right: .2em;
  vertical-align: -.4em;
  content: open-quote;
  font-weight: bold; }

blockquote:after {
  color: #dddddd;
  font-size: 3em;
  line-height: .1em;
  vertical-align: -.45em;
  content: close-quote;
  font-weight: bold; }

small {
  font-size: 85%; }

big {
  font-size: 120%; }

abbr {
  cursor: help; }

address {
  display: block;
  font-style: italic; }

hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #dddddd; }

sub,
sup {
  position: relative;
  font-size: 90%;
  line-height: 100%;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* list */
ul, ol {
  padding: 0;
  padding-left: 1.5em;
  margin: 0;
  list-style-position: inside; }

ul.unstyled,
ol.unstyled {
  list-style: none; }

ul.unstyled ul,
ul.unstyled ol,
ol.unstyled ol,
ol.unstyled ul {
  list-style: none; }

li {
  padding: 0;
  margin: 0;
  line-height: 1.5em; }

dl {
  padding: 0;
  margin: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2em; }

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

table th,
table td {
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #dddddd; }

table th {
  text-align: left;
  font-weight: bold;
  background-color: #eeeeee; }

.medusa-form,
.medusa-button,
.medusa-input,
.medusa-select {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 14px;
  position: relative;
  outline: none;
  font-size: 14px; }

fieldset {
  padding: 10px;
  padding-top: 0;
  margin: 0px; }

legend {
  padding: 5px;
  font-weight: bold;
  line-height: 100%; }

/* label */
.medusa-label {
  display: inline-block;
  vertical-align: middle; }

.medusa-label-block {
  display: block;
  padding: 5px 0; }

/* checkbox, radio */
input[type=checkbox],
input[type=radio] {
  margin: -2px 5px 0px 5px;
  vertical-align: middle; }

/* common */
.medusa-input[disabled],
.medusa-select[disabled],
.medusa-button[disabled] {
  background: #eee;
  border: 1px solid #cdcdcd;
  color: #aaa; }

input::-webkit-input-placeholder {
  color: #aaa;
  line-height: 1.2em; }

textarea::-webkit-input-placeholder {
  color: #aaa;
  line-height: 1.2em; }

input:-moz-placeholder {
  color: #aaa;
  line-height: 1em; }

textarea:-moz-placeholder {
  color: #aaa;
  line-height: 1em; }

input::-moz-placeholder {
  color: #aaa;
  line-height: 0.9em; }

textarea::-moz-placeholder {
  color: #aaa;
  line-height: 0.9em; }

input:-ms-input-placeholder {
  color: #aaa;
  line-height: 1; }

textarea:-ms-input-placeholder {
  color: #aaa;
  line-height: 1; }

.icon-add {
  background-image: url(../../usage/sprite.png);
  background-position: 0 0; }

.icon-del {
  background-image: url(../../usage/sprite.png);
  background-position: 0 -16px; }

.light-blue {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #FFF; }

/* grid */
.medusa-form-row {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  display: table;
  width: 100%; }

.medusa-form-row > * {
  padding-right: 10px; }

.medusa-form-row > *:last-child {
  padding-right: 0; }

.medusa-form-row > .form-grid-1,
.medusa-form-row > .form-grid-2,
.medusa-form-row > .form-grid-3,
.medusa-form-row > .form-grid-4,
.medusa-form-row > .form-grid-5,
.medusa-form-row > .form-grid-6,
.medusa-form-row > .form-grid-7,
.medusa-form-row > .form-grid-8,
.medusa-form-row > .form-grid-9,
.medusa-form-row > .form-grid-10,
.medusa-form-row > .form-grid-11,
.medusa-form-row > .form-grid-12 {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  line-height: 1;
  margin: 0; }

.medusa-form-row > .form-grid-1 {
  width: 8.333%; }

.medusa-form-row > .form-grid-2 {
  width: 16.666%; }

.medusa-form-row > .form-grid-3 {
  width: 25%; }

.medusa-form-row > .form-grid-4 {
  width: 33.333%; }

.medusa-form-row > .form-grid-5 {
  width: 41.666%; }

.medusa-form-row > .form-grid-6 {
  width: 50%; }

.medusa-form-row > .form-grid-7 {
  width: 58.333%; }

.medusa-form-row > .form-grid-8 {
  width: 66.666%; }

.medusa-form-row > .form-grid-9 {
  width: 75%; }

.medusa-form-row > .form-grid-10 {
  width: 83.333%; }

.medusa-form-row > .form-grid-11 {
  width: 91.666%; }

.medusa-form-row > .form-grid-12 {
  width: 100%; }

.medusa-form-row .medusa-input,
.medusa-form-row .medusa-input-addon,
.medusa-form-row .medusa-select,
.medusa-form-row .medusa-button {
  position: relative;
  margin: 0;
  width: 100%;
  box-sizing: border-box; }

.medusa-form-row .medusa-button {
  width: auto; }

/* select */
.medusa-select {
  width: 200px;
  padding: 7px;
  vertical-align: middle;
  overflow: hidden;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -khtml-border-radius: 2px; }

.medusa-select[multiple] {
  height: auto; }

.medusa-select.sm {
  font-size: 12px;
  padding: 5px; }

.medusa-select.lg {
  font-size: 16px;
  padding: 11px; }

/* input */
.medusa-input {
  width: 200px;
  margin: 2px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.medusa-input.sm {
  font-size: 12px;
  padding: 6px; }

.medusa-input.lg {
  font-size: 16px;
  padding: 12px; }

textarea.medusa-input {
  overflow: auto;
  line-height: 1.2em;
  resize: none; }

.medusa-input:focus,
.medusa-select:focus {
  box-shadow: 0 0 3px #93d0ea;
  border: 1px solid #93d0ea; }

.medusa-input.success,
.medusa-input.success:focus {
  outline: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  border: 1px solid #99CC33; }

.medusa-input.warn,
.medusa-input.warn:focus {
  outline: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  border: 1px solid rgba(255, 156, 0, 0.6); }

.medusa-input.error,
.medusa-input.error:focus {
  outline: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  border: 1px solid rgba(200, 10, 16, 0.5); }

.medusa-input-addon {
  display: table;
  white-space: nowrap; }

.medusa-input-addon .addon-icon-left,
.medusa-input-addon .addon-icon-rigth,
.medusa-input-addon .addon-text-left,
.medusa-input-addon .addon-text-right,
.medusa-input-addon .medusa-input {
  display: table-cell;
  margin: 0; }

.medusa-input-addon .addon-icon-left,
.medusa-input-addon .addon-icon-right {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1; }

.medusa-input-addon .addon-icon-left {
  top: 9px;
  left: 9px; }

.medusa-input-addon .addon-icon-right {
  top: 9px;
  right: 9px; }

.medusa-input-addon .addon-text-left,
.medusa-input-addon .addon-text-right {
  position: relative;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 1px; }

.medusa-input-addon .addon-text-left {
  border-right: none;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.medusa-input-addon .addon-text-right {
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.medusa-input.icon-left {
  padding-left: 32px; }

.medusa-input.icon-right {
  padding-right: 32px; }

.medusa-input.addon-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.medusa-input.addon-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

/* button */
.medusa-button {
  display: inline-block;
  margin: 2px;
  padding: 10px 30px;
  color: inherit;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-overflow: ellipsis;
  text-align: center;
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -khtml-border-radius: 2px;
  background-clip: padding-box; }

.medusa-button:hover {
  zoom: 1;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(style=0, opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85; }

.medusa-button:active {
  top: 1px; }

.medusa-button[disabled]:active {
  top: 0px; }

.medusa-button[disabled]:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(style=0, opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1; }

.medusa-button.sm {
  font-size: 11px;
  padding: 7px 15px; }

.medusa-button.lg {
  font-size: 15px;
  padding: 14px 35px; }

.medusa-button.full {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0; }

.medusa-button.addon {
  padding-left: 36px;
  padding-right: 24px; }

.medusa-button.addon-right {
  padding-left: 24px;
  padding-right: 36px; }

.medusa-button.addon .addon-icon,
.medusa-button.addon-right .addon-icon,
.medusa-button.addon-no-text .addon-icon {
  display: inline-block;
  padding: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1; }

.medusa-button.addon .addon-icon {
  top: 8px;
  left: 10px; }

.medusa-button.addon-right .addon-icon {
  left: auto;
  top: 8px;
  right: 10px; }

.medusa-button.addon-no-text {
  padding: 10px 15px; }

.medusa-button.addon-no-text .addon-icon {
  left: 9px;
  top: 9px; }

.medusa-button.addon-no-text:after {
  content: "\00a0"; }

/* button group */
.medusa-button-group {
  display: inline-block;
  overflow: hidden;
  font-size: 0; }

.medusa-button-group .medusa-button {
  margin: 0;
  border-radius: 0; }

.medusa-button-group .medusa-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.medusa-button-group .medusa-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.medusa-button-group.collapse .medusa-button {
  margin-left: -1px; }

.medusa-button-group.collapse .medusa-button:first-child {
  margin-left: 0px; }

.medusa-button-group.full {
  width: 100%;
  display: table; }

.medusa-button-group.full .medusa-button {
  display: table-cell; }

/* file */
.medusa-upload {
  background-color: #eeeeee;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden; }

.medusa-upload:hover {
  background-color: #E6E6E6; }

.medusa-upload .medusa-upload-title {
  padding: 10px 0px;
  display: inline-block; }

.medusa-upload input[type=file].medusa-upload-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 500px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }
