/* button group */

.medusa-button-group
{
	font-size: 0;
	display: inline-block;
	overflow: hidden;
}

.medusa-button-group .medusa-button
{
	margin: 0;
	@include border-radius(0);
}

.medusa-button-group .medusa-button:first-child
{
	@include border-left-radius($form-element-radius);
}

.medusa-button-group .medusa-button:last-child
{
	@include border-right-radius($form-element-radius); 
}

.medusa-button-group.collapse .medusa-button
{
	margin-left: -1px;
}

.medusa-button-group.collapse .medusa-button:first-child
{
	margin-left: 0px;
}

.medusa-button-group.full
{
	width: 100%;
	display: table;
}

.medusa-button-group.full .medusa-button
{
	display: table-cell;
}