<div class="content-section">
	<h1 class="section-head">#alert</h1>
	<span src-data="alert">
		<div class="medusa-alert">
			<span class="close"></span>
			<b>Well done!</b> You successfully read this important alert message.
		</div>
		<div class="medusa-alert info">
			<span class="close"></span>
			<b>Well done!</b> You successfully read this important alert message.
		</div>
		<div class="medusa-alert success">
			<span class="close"></span>
			<b>Well done!</b> You successfully read this important alert message.
		</div>
		<div class="medusa-alert warn">
			<span class="close"></span>
			<b>Well done!</b> You successfully read this important alert message.
		</div>
		<div class="medusa-alert danger">
			<span class="close"></span>
			<b>Well done!</b> You successfully read this important alert message.
		</div>
	</span>
	<code src-data="alert" class="language-markup"></code>
</div>
