<div class="content-section">
	<h1 class="section-head">#badge</h1>
	<span class="medusa-badge">234</span>
	<div>
		<button class="medusa-button">
			Messages <span class="medusa-badge">23</span>
		</button>
	</div>
	<div style="width:200px">
		<ul class="medusa-menu">
			<li>
				<a>First<span class="medusa-badge right">9</span></a>
			</li>
			<li>
				<a>Two</a>
			</li>
			<li>
				<a>Third<span class="medusa-badge right">43</span></a>
			</li>
			<li>
				<a>Fourth</a>
			</li>
			<li>
				<a>Fifth</a>
			</li>
		</ul>
	</div>
</div>
