<div class="content-section">
	<h1 class="section-head">#breadcrumbs</h1>

	<span src-data="brdc-slash">
		<ul class="medusa-breadcrumbs slash-style">
			<li>
				<a href="#breadcrumbs">Home</a>
			</li>
			<li>
				<a href="#breadcrumbs">Category</a>
			</li>
			<li>
				Product
			</li>
		</ul>
	</span>
	<div>
		<code src-data="brdc-slash" class="language-markup"></code>
	</div>

	<span src-data="brdc-arrow">
		<ul class="medusa-breadcrumbs arrow-style">
			<li>
				<a href="#breadcrumbs">Home</a>
			</li>
			<li>
				<a href="#breadcrumbs">Category</a>
			</li>
			<li>
				Product
			</li>
		</ul>
	</span>
	<div>
		<code src-data="brdc-arrow" class="language-markup"></code>
	</div>

	<span src-data="brdc-circle">
		<ul class="medusa-breadcrumbs circle-style">
			<li>
				<a href="#breadcrumbs">Home</a>
			</li>
			<li>
				<a href="#breadcrumbs">Category</a>
			</li>
			<li>
				Product
			</li>
		</ul>
	</span>
	<div>
		<code src-data="brdc-circle" class="language-markup"></code>
	</div>

	<span src-data="brdc-chain">
		<ul class="medusa-breadcrumbs chain-style">
			<li>
				<a href="#breadcrumbs">Home</a>
			</li>
			<li>
				<a href="#breadcrumbs">Category</a>
			</li>
			<li>
				<a href="#breadcrumbs">Product</a>
			</li>
		</ul>
	</span>
	<div>
		<code src-data="brdc-chain" class="language-markup"></code>
	</div>
</div>
