<div class="content-section">
	<h1 class="section-head">#callouts</h1>
	<span src-data="callouts">
		<div class="medusa-callouts">
			<div class='head'>Success</div>
			<p>
				Alerts don't have default classes, only base and modifier classes.
				A default gray alert doesn't make too much sense, so you're required
				to specify a type via contextual class. Choose from success, info, warning, or danger.
			</p>
		</div>

		<div class="medusa-callouts info">
			<div class='head'>Success</div>
			<p>
				Alerts don't have default classes, only base and modifier classes.
				A default gray alert doesn't make too much sense, so you're required
				to specify a type via contextual class. Choose from success, info, warning, or danger.
			</p>
		</div>
		<div class="medusa-callouts success">
			<div class='head'>Success</div>
			<p>
				Alerts don't have default classes, only base and modifier classes.
				A default gray alert doesn't make too much sense, so you're required
				to specify a type via contextual class. Choose from success, info, warning, or danger.
			</p>
		</div>
		<div class="medusa-callouts warn">
			<div class='head'>Success</div>
			<p>
				Alerts don't have default classes, only base and modifier classes.
				A default gray alert doesn't make too much sense, so you're required
				to specify a type via contextual class. Choose from success, info, warning, or danger.
			</p>
		</div>
		<div class="medusa-callouts danger">
			<div class='head'>Success</div>
			<p>
				Alerts don't have default classes, only base and modifier classes.
				A default gray alert doesn't make too much sense, so you're required
				to specify a type via contextual class. Choose from success, info, warning, or danger.
			</p>
		</div>
	</span>
	<code src-data="callouts" class="language-markup"></code>
</div>
