<div class="content-section">
	<h1 class="section-head">#divider</h1>

	<span src-data="divider-text">
		<div class="camel-divider">
			<div class="line"></div>
			<div class="text">OR</div>
		</div>
	</span>
	<code src-data="divider-text" class="language-markup"></code>

	<span src-data="divider-icon">
		<div class="camel-divider">
			<div class="line"></div>
			<div class="text">
				<span class="fa fa-home"></span>
			</div>
		</div>
	</span>
	<code src-data="divider-icon" class="language-markup"></code>
</div>
