<div class="content-section">
	<h1 class="section-head">#menu</h1>
	<div style="width:150px">
		<ul class="camel-menu">
			<li>
				<a href="#">Home</a>
				<ul>
					<li>
						<a>Subitem</a>
					</li>
					<li>
						<a>More</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Tutorials</a>
			</li>
			<li>
				<a href="#">Articles</a>
			</li>
			<li>
				<a href="#">Inspiration</a>
			</li>
			<span class="split"></span>
			<li>
				<a href="#">Archive</a>
			</li>
		</ul>
	</div>

	<div>
		<ul class="camel-menu inline">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Tutorials</a>
			</li>
			<li>
				<a href="#">Articles</a>
			</li>
			<li>
				<a href="#">Inspiration</a>
			</li>
		</ul>
	</div>

	<div>
		<ul class="camel-menu navbar">
			<li><a href="#">Home</a></li>
			<li><a href="#" class="arrow">Tutorials</a>
				<ul>
					<li><a href="#">Photoshop</a></li>
					<li><a href="#">Illustrator</a></li>
					<li><a href="#" class="arrow">Web Design</a>
						<ul>
							<li><a href="#">HTML</a></li>
							<li>
								<a href="#" class="arrow">CSS</a>
								<ul>
									<li><a href="#">LESS</a></li>
									<li><a href="#">SASS</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#">Articles</a></li>
			<li><a href="#">Inspiration</a></li>
		</ul>
	</div>
	<div style="width:150px">
		<ul class="camel-menu navbar stack">
			<li><a href="#">Home</a></li>
			<ul>
				<li>
					<a>Subitem</a>
				</li>
				<li>
					<a>More</a>
				</li>
			</ul>
			<li><a href="#" class="arrow">Tutorials</a>
				<ul>
					<li><a href="#">Photoshop</a></li>
					<li><a href="#">Illustrator</a></li>
					<li><a href="#" class="arrow">Web Design</a>
						<ul>
							<li><a href="#">HTML</a></li>
							<li>
								<a href="#" class="arrow">CSS</a>
								<ul>
									<li><a href="#">LESS</a></li>
									<li><a href="#">SASS</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#">Articles</a></li>
			<li><a href="#">Inspiration</a></li>
			<span class="split"></span>
			<li>
				<a href="#">Archive</a>
			</li>
		</ul>
	</div>
</div>
