<div class="content-section">
	<h1 class="section-head">#preload</h1>

	<div class="preload-wrap">
		<div class="camel-preload spin sm"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload spin md"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload spin lg"></div>
	</div>

	<div class="preload-wrap">
		<div class="camel-preload wave sm"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload wave md"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload wave lg"></div>
	</div>

	<div class="preload-wrap">
		<div class="camel-preload bar sm"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload bar md"></div>
	</div>
	<div class="preload-wrap">
		<div class="camel-preload bar lg"></div>
	</div>
</div>
