<div class="content-section">
	<h1 class="section-head">#progress</h1>
	<span src-data="prgs-thin">
		<div class="camel-progress thin">
			<div class="bar" style="width:67%"></div>
		</div>
	</span>
	<div>
		<code src-data="prgs-thin" class="language-markup"></code>
	</div>

	<span src-data="prgs">
		<div class="camel-progress">
			<div class="bar" style="width:67%"></div>
			<div class="label">67%</div>
		</div>
	</span>
	<div>
		<code src-data="prgs" class="language-markup"></code>
	</div>

	<span src-data="prgs-strp">
		<div class="camel-progress striped">
			<div class="bar" style="width:67%"></div>
			<div class="label">67%</div>
		</div>
	</span>
	<div>
		<code src-data="prgs-strp" class="language-markup"></code>
	</div>

	<span src-data="prgs-strp-anim">
		<div class="camel-progress striped animated">
			<div class="bar" style="width:67%"></div>
			<div class="label">67%</div>
		</div>
	</span>
	<div>
		<code src-data="prgs-strp-anim" class="language-markup"></code>
	</div>

	<span src-data="prgs-wave">
		<div class="camel-progress wave">
			<div class="bar" style="width:67%"></div>
			<div class="label">67%</div>
		</div>
	</span>
	<div>
		<code src-data="prgs-wave" class="language-markup"></code>
	</div>
</div>
