<div class="content-section">
	<h1 class="section-head">#tooltip</h1>

	<div>
		<span class='camel-tooltip' data-popup-bottom='popup bottom'>hover me</span>
		<span class='camel-tooltip' data-popup-top='popup top'>hover me</span>
		<span class='camel-tooltip' data-popup-right='popup right'>hover me</span>
		<span class='camel-tooltip' data-popup-left='popup left'>hover me</span>
	</div>

	<div>
		<span class="camel-input-wrap" data-popup-bottom='popup bottom'>
			<input type="text" class="camel-input">
		</span>
		<span class="camel-input-wrap" data-popup-top='popup top'>
			<input type="text" class="camel-input">
		</span>
		<span class="camel-input-wrap" data-popup-right='popup right' style='display:inline-block'>
			<input type="text" class="camel-input">
		</span>
		<span class="camel-input-wrap" data-popup-left='popup left'>
			<input type="text" class="camel-input">
		</span>
	</div>
</div>
