$font-stack: "PT Sans", Helvetica, Arial, sans-serif;

$primary-color: #414341;
$main-color: #5D8CAE;
$primary-link-color: #08c;
$secondary-color-light: #f2efef;
$secondary-color-light-hover: #e6e6e6;
$secondary-color-dark: #ddd;

$default-font-size: 14px;
$line-height: 1.45em;

$h1-size: 32px;
$h2-size: 28px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 16px;
$h6-size: 14px;

$table-padding: 10px;
$table-head-bg-color: #ddd;
$table-row-hover-color: #e6e6e6;

$form-grid-v-gutter: 14px;
$form-grid-h-gutter: 10px;
$form-element-radius: 3px;

$default-button-bg-color: #5D8CAE;
$default-button-color: #fff;
