@import 'local';

ul,ol {
	padding: 0;
	padding-left: 1.5em;
	margin: 0;
	list-style-position: inside;

	li {
		padding: 0;
		margin: 0;
		line-height: $line-height;
	}

	&.unstyled,
	&.unstyled ul,
	&.unstyled ol {
		list-style: none;
	}
}

ol.numerable {
	counter-reset: custom;

	li {
		list-style: none;

		&:before {
			counter-increment: custom;
			content:counter(custom);
			color: #fff;
			background: #2980B9;
			display: inline-block;
			text-align: center;
			line-height: 2.5em;
			width: 2.5em;
			height: 2.5em;
			margin-bottom: 1em;
			margin-right: 1em;
		}
	}
}

dl {
	padding: 0;
	margin: 0;
}

dt { font-weight: bold; }
dd { margin-left: 2em; }
