@import 'local';

.camel-form-group {
	display: inline-table;
	width: 100%;

	* {
		display: table-cell;
		border-radius: 0;
		vertical-align: middle;
	}

	> * {
		&:first-child,
		&:first-child.camel-input-wrap .camel-input {
			border-top-left-radius: $form-element-radius;
			border-bottom-left-radius: $form-element-radius;
		}

		&:last-child,
		&:last-child.camel-input-wrap .camel-input {
			border-top-right-radius: $form-element-radius;
			border-bottom-right-radius: $form-element-radius;
		}

		&:first-child.addon-text {
			border-right: none;
		}

		&:last-child.addon-text {
			border-left: none;
		}
	}

	.addon-text {
		position: relative;
		padding: 0 10px;
		min-width: 1px;
		background-color: $secondary-color-light;
		border: 1px solid $secondary-color-dark;
		text-align: center;
		vertical-align: middle;
	}

	.camel-select {
		min-width: 100px;
	}

	&.stack {
		display: block;

		> * {
			display: block;
			width: 100%;
			border-radius: 0;

			.camel-input {
				border-radius: 0;
			}

			&:first-child,
			&:first-child .camel-input {
				border-radius: 0;
				border-top-left-radius: $form-element-radius;
				border-top-right-radius: $form-element-radius;
			}

			&:last-child,
			&:last-child .camel-input {
				border-radius: 0;
				border-bottom-left-radius: $form-element-radius;
				border-bottom-right-radius: $form-element-radius;
			}
		}

		> * + * {
			margin-top: -1px;
		}
	}

	.camel-form-group {
		display: inline-table;

		>.camel-input,
		>.addon-text {
			border-radius: 0;
		}

		&:first-child * {
			&:first-child {
				border-radius: 0;
				border-top-left-radius: $form-element-radius;
			}

			&:last-child {
				border-radius: 0;
				border-top-right-radius: $form-element-radius;
			}
		}

		&:last-child * {
			&:first-child {
				border-radius: 0;
				border-bottom-left-radius: $form-element-radius;
			}

			&:last-child {
				border-radius: 0;
				border-bottom-right-radius: $form-element-radius;
			}
		}
	}
}
