@import 'local';

.camel-switcher {
	display: inline-block;
	line-height: 0;
	font-size: 0;

	.childs {
		display: inline-block;

		.item {
			display: inline-block;
			text-align: center;
			cursor: pointer;
			padding: 10px 15px;
			border: 1px solid #ddd;
			line-height: 100%;
			font-size: 14px;

			@include text-truncate;
			@include no-select;

			&.selected {
				background-color: #4b545f;
				border-color: #4b545f;
				color: #fff;
			}

			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		.item + .item {
			border-left: none;
		}
	}

	&.stack .childs {
		.item {
			display: block;
			border: 1px solid #ddd;

			&:first-child {
				border-radius: 0;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:last-child {
				border-radius: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	&.stack .childs {
		.item + .item {
			border-top: none;
		}
	}

	&.sm {
		.item {
			padding: 7px 12px;
			font-size: 12px;
		}
	}

	&.lg {
		.item {
			padding: 16px 22px;
			font-size: 16px;
		}
	}
}
