@import 'local';

.camel-select {
	height: 36px;
	padding: 8px;
	vertical-align: middle;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-sizing: border-box;
	border-radius: $form-element-radius;

	&[multiple],
	&[multiple].sm,
	&[multiple].lg {
		height: auto;
	}

	option {
		display: block;
	}
}

.camel-form-group.sm .camel-select,
.camel-select.sm {
	height: 28px;
	font-size: 12px;
	padding: 5px;
}

.camel-form-group.lg .camel-select,
.camel-select.lg {
	height: 50px;
	font-size: 16px;
	padding: 11px;
}
