@import 'local';

ul,ol {
	position: relative;
	padding: 0;
	padding-left: 1.5em;
	margin: 0;
	list-style-position: inside;

	li {
		padding: 0;
		margin: 0;
		line-height: $line-height;
	}

	&.unstyled,
	&.unstyled ul,
	&.unstyled ol {
		list-style: none;
	}
}

ol.numeric {
	counter-reset: custom;

	> li {
		list-style: none;

		&:before {
			counter-increment: custom;
			content:counter(custom);
			background: $secondary-color-dark;
			display: inline-block;
			text-align: center;
			line-height: 2.5em;
			width: 2.5em;
			height: 2.5em;
			margin-bottom: 1em;
			margin-right: 1em;
		}
	}
}

dl {
	position: relative;
	padding: 0;
	margin: 0;
}

dt {
	position: relative;
	font-weight: bold;
}

dd {
	position: relative;
	margin-left: 2em;
}
