@import 'local';

.camel-button {
	position: relative;

	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;

	font-size: 14px;
	line-height: 14px;
	padding: 11px 30px;
	height: 36px;
	border-radius: $form-element-radius;

	background: #fefefe;
	background: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));

	@include text-truncate;

	&:hover {
		text-decoration: none;
	}

	&.sm {
		font-size: 12px;
		line-height: 12px;
		padding: 8px 20px;
		height: 28px;
	}

	&.lg {
		line-height: 16px;
		font-size: 16px;
		padding: 17px 35px;
		height: 50px;
	}

	&.full {
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin: 0;
	}

	&:active {
		top: 1px;
	}

	&[disabled] {
		opacity: 0.8 !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" !important;
 		filter: alpha(opacity=80) !important;

		&:active {
			top: 0px
		}
	}

	&:hover {
		opacity: 0.90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 		filter: alpha(opacity=90);
		zoom: 1;
	}

	&.addon,
	&.addon-right,
	&.addon-no-text {
		padding-top: 0;
		padding-bottom: 0;

		.addon-icon {
			padding: 11px 11px 11px 12px;
		}

		&.sm {
			.addon-icon {
				padding: 8px 9px 8px 8px;
			}
		}

		&.lg {
			.addon-icon {
				padding: 17px 17px 17px 18px;
			}
		}
	}

	&.addon {
		padding-left: 0;

		.addon-icon {
			margin-right: 5px;
		}
	}

	&.addon-right {
		padding-right: 0;

		.addon-icon {
			margin-left: 5px;
		}
	}

	&.addon-no-text {
		padding-left: 0;
		padding-right: 0;
	}

	&.dropdown {
		padding-right: 0;

		&:after {
			content: "\f107";
			font-family: FontAwesome;
			padding: 0 11px;
			vertical-align: middle;
			font-size: 20px;
			line-height: 10px;
		}

		&.sm:after {
			padding: 0 8px;
			font-size: 16px;
		}

		&.lg:after {
			padding: 0 17px;
			font-size: 24px;
		}

		&.split {
			padding-left: 0;
			padding-right: 0;
			border-left: 0;
			left: -1px;
			margin-right: -1px;
		}
	}

	&.label {
		position: absolute;
		display: inline-block;
		height: 100%;
		width: 36px;
		top: 0;
		left: 0;
	}

	&.preload {
		color: transparent;

		&:after {
			content: '\00a0';
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('data:image/gif;base64,R0lGODlhGwAKAKIHAPHx8Y+Pj2FhYc7OzktKSrKysjs7O////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAHACwAAAAAGwAKAAADR3i63P4wygNKCIOBGwAbV+EtgWAKGXWaY7EGC7CairsWyiyMg+6VL9UsJQsebCfcwbdAohSbU0fRO6UWg4JIk71Ctd6JeJEAACH5BAkKAAcALAAAAAAKAAoAAAMheApVoyuYaQRQkk4LtHYeFQzhFHRlcWSadQBsdUFDMc4JACH5BAkKAAcALAAAAAAbAAoAAANFeLqsUGW0ycAACwTDjcBUJhBkgG0d94XKSJIFkKYFO7yvMMxdwBa4147nsQUJH6KhxnIJD6jUiqUh6RxRD4jFHRQCF24CACH5BAkKAAcALAAAAAAbAAoAAANYeLrcDaUMRxUYYIFguhGZVQTBZAlEGmSc14FKIMyCiaZpAbhucQA02g9HHPA8gcMgOLsQccajIQkMUp8EkNTgOxSCpsDT13LBFINI6PfNmjbmdWWuHGEUCQAh+QQJCgAHACwAAAAAGwAKAAADUHi63P4wLjBAAyWEwYAOlgIIRAkugaAK3DGuQkiWZSHCqlLgNkDTAsUAFzukYIFD4UezvFZJJc/FJAR1sJYHGgowW8JCISQaFMCulBUtaTMSACH5BAUUAAcALAAAAAAbAAoAAANHeLrc/jDKA0oIg4EbABtX4S2BYAoZdZpjsQYLsJqKuxbKLIyD7pUv1SwlCx5sJ9zBt0CiFJtTR9E7pRaDgkiTvUK13ol4kQAAOw==');
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}

.camel-button {
	color: $default-button-color;
	background-color: $default-button-bg-color;

	&.addon .label,
	&.addon-right .label {
		background-color: #123;
	}

	&.addon {
		.label {
			margin-right: 20px;
		}

		&.sm {
			.label {
				margin-right: 10px;
			}
		}

		&.lg {
			.label {
				margin-right: 30px;
			}
		}
	}

	&.addon-right {
		.label {
			margin-left: 20px;
		}

		&.sm {
			.label {
				margin-left: 10px;
			}
		}

		&.lg {
			.label {
				margin-left: 30px;
			}
		}
	}
}

.camel-button.dropdown.split,
.camel-button-group .camel-button {
	border-left: 1px solid #234;
	border-right: 1px solid #234;
}

.camel-button-group.stack .camel-button {
	border-top: 1px solid #234;
	border-bottom: 1px solid #234;
}
