@import 'local';

.camel-toggle {
	display: inline-block;
	width:auto;

	.handle {
		position: relative;
		display: block;
		width: 50px;
		height: 22px;
		background-color: #ddd;
		border-radius: 22px;

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";

			background-color: #fff;
			border-radius: 22px;
			transition: all 0.25s ease-in-out;
		}

		&:before {
			margin: 0;
			width: 22px;
			height: 22px;
			background-color: transparent;
		}

		&:after {
			margin: 2px;
			width: 18px;
			height: 18px;
		}
	}

	.camel-checkbox {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		z-index: 1;
	}

	.camel-checkbox:checked + .handle {
		&:before{
			width: 50px;
			background-color: #16A085;
		}

		&:after {
			left: 28px;
			border: none;
			margin: 2px;
		}
	}

	.camel-checkbox[disabled] + .handle {
		background-color: #eee;

		&:after {
			border-color: #eee;
		}
	}

	.camel-checkbox[disabled]:checked + .handle {
		background-color: #eee;

		&:before {
			background-color: #eee;
		}

		&:after {
			border-color: #eee;
			background-color: #ddd;
		}
	}
}
