@import 'local';

.camel-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgb(0,0,0);
	background: rgba(0,0,0,.6);
	z-index: 99;

	&:nth-child(n) {
		filter: none;
	}

	&.hover {
		&.slide {
			-ms-transition: transform 0.3s ease-out;
			-webkit-transition: transform 0.3s ease-out;
			-moz-transition: transform 0.3s ease-out;
			transition: transform 0.3s ease-out;
			-ms-transform: scaleY(0) translateZ(0);
			-webkit-transform: scaleY(0) translateZ(0);
			-moz-transform: scaleY(0) translateZ(0);
			transform: scaleY(0) translateZ(0);
			-ms-transform-origin: 0 100%;
			-webkit-transform-origin: 0 100%;
			-moz-transform-origin: 0 100%;
			transform-origin: 0 100%;
			top: auto;
		}

		&.fade {
			-ms-transition: all 0.2s ease-out;
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			opacity: 0;
			filter: none;
		}
	}

	&[data-max-height] {
		max-height: attr(data-max-height,px);
	}
}


*:hover > .camel-overlay {
	&.hover {
		&.slide {
			-ms-transform: scaleY(1) translateZ(0);
			-webkit-transform: scaleY(1) translateZ(0);
			-moz-transform: scaleY(1) translateZ(0);
			transform: scaleY(1) translateZ(0);
		}

		&.fade {
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
			opacity: 1;

			&:nth-child(n) {
				filter: none;
			}
		}
	}
}


.msie8 {
	.camel-overlay {
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
		zoom: 1;
	}
}
