.camel-alert {
	padding: 1em;
	border-radius: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	box-sizing: border-box;

	&.info {
		color: #31708F;
		background-color: #D9EDF7;
		border-color: #BCE8F1;
	}

	&.success {
		color: #3C763D;
		background-color: #DFF0D8;
		border-color: #D6E9C6;
	}

	&.warn {
		color: #8A6D3B;
		background-color: #FCF8E3;
		border-color: #FAEBCC;
	}

	&.danger {
		color: #A94442;
		background-color: #F2DEDE;
		border-color: #EBCCD1;
	}

	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		border-radius: 0;
		width: 100%;
		z-index: 100;
	}

	.close {
		float: right;
		cursor: pointer;
		display: inline;
		opacity: 0.5;

		&:after{
			content: "\f00d";
			font-family: FontAwesome;
			display: inline;
			font-weight: normal;
		}

		&:hover {
			opacity: 1;
		}
	}
}
