@import 'local';

.camel-divider {
	margin: 1em 0;
	text-align: center;
	position: relative;

	.line {
		height: 1px;
		width: 100%;
		position: absolute;
		top: 50%;
		background-color: $secondary-color-dark;
	}

	.text {
		background-color: #fff;
		padding: 0 0.75em;
		position: relative;
		font-size: 1em;
		display: inline-block;

		.fa {
			font-size: 1.5em;
		}
	}
}
