@import 'local';

.row-12,
.row-16,
.row-24 {
	position: relative;
	*zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

*[class*='grid-'] {
	display: inline;
	float: left;
	position: relative;
	margin: 1%;
	width: 98%;
	min-height: 1px;
	max-width: 1200px;
}

.alpha { margin-left: 0; }
.omega { margin-right: 0; }
