@import 'local';

.camel-form-row {
	margin-top: $form-grid-m-top;
	margin-bottom: $form-grid-m-bottom;
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;

	.camel-label {
		&.right {
			float: right;
		}
	}

	.camel-input,
	.camel-input-addon,
	.camel-select,
	.camel-button {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		margin: 0;
	}

	.camel-button {
		width: auto;
	}
}

.camel-form-row {
	>.form-grid-1, >.form-grid-2, >.form-grid-3,
	>.form-grid-4, >.form-grid-5, >.form-grid-6,
	>.form-grid-7, >.form-grid-8, >.form-grid-9,
	>.form-grid-10, >.form-grid-11, >.form-grid-12 {
		box-sizing: border-box;
		vertical-align: middle;
		display: table-cell;
		position: relative;
		min-height: 1px;
		padding: 0 0.5em;
		line-height: 1;
		width: 100%;
		margin: 0;

		&.no-space {
			padding-left: 0;
		}
	}

	>.full {
		line-height: 1;
		display: inline-block;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
}

.camel-form-row {
	>.form-grid-1 { width: (100% / 12 * 1)}
	>.form-grid-2 { width: (100% / 12 * 2)}
	>.form-grid-3 { width: (100% / 12 * 3)}
	>.form-grid-4 { width: (100% / 12 * 4)}
	>.form-grid-5 { width: (100% / 12 * 5)}
	>.form-grid-6 { width: (100% / 12 * 6)}
	>.form-grid-7 { width: (100% / 12 * 7)}
	>.form-grid-8 { width: (100% / 12 * 8)}
	>.form-grid-9 { width: (100% / 12 * 9)}
	>.form-grid-10 { width: (100% / 12 * 10)}
	>.form-grid-11 { width: (100% / 12 * 11)}
	>.form-grid-12 { width: (100% / 12 * 12)}
}

@media only screen and (max-width: 480px) {
	.camel-form-row {
		margin: 0;
		display: block;

		>.form-grid-1, >.form-grid-2, >.form-grid-3,
		>.form-grid-4, >.form-grid-5, >.form-grid-6,
		>.form-grid-7, >.form-grid-8, >.form-grid-9,
		>.form-grid-10, >.form-grid-11, >.form-grid-12 {
			width: 98%;
			display: block;
			padding: 0;
			margin: 0.5em 1%;
		}

		.camel-label {
			&.right {
				float: none;
			}
		}

		>.full {
			display: none;
		}

		&:last-child {
			margin-bottom: 1em;
		}
	}
}
