@import 'local';

/*.camel-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}*/

.camel-badge {
	display: inline-block;
	min-width: 20px;
	padding: 4px 6px;
	font-size: 12px;
	height: 20px;
	line-height: 100%;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
	margin-left: 0.5em;

	&.right {
		right: 0.5em;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;
		z-index: 1;
	}
}

.camel-button {
	.camel-badge {
		margin-top: -50%;
		margin-bottom: -50%;
	}
}

.camel-menu {
	&.navbar {
		.camel-badge {
			margin-right: -1.5em;

			&.right {
				margin-right: 0.5em;
			}
		}

		*.arrow {
			>.camel-badge {
				margin-right: 0;
			}
		}

		&.stack {
			.camel-badge {
				margin-right: 1em;
			}
		}
	}
}
