@import 'local';

.camel-input {
	height: 36px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-shadow: inset 0 1px 3px #ddd;

	box-sizing: border-box;
	border-radius: $form-element-radius;
}

textarea.camel-input {
	height: auto;
	overflow: auto;
	line-height: 1.2em;
	resize: none;
}

textarea[rows="1"] {
	line-height: 1em;
}

.camel-form-row .camel-input-wrap {
	width: 100%;
}

.camel-input-wrap {
	display: inline-table;
	white-space: nowrap;
}

.camel-form-group.sm .camel-input,
.camel-form-group.sm .addon-text,
.camel-input-wrap.sm .camel-input,
.camel-input.sm {
	padding: 7px;
	font-size: 12px;
}

.camel-form-group.sm input.camel-input,
.camel-input-wrap.sm input.camel-input,
input.camel-input.sm {
	height: 28px;
}

.camel-form-group.lg .camel-input,
.camel-form-group.lg .addon-text,
.camel-input-wrap.lg .camel-input,
.camel-input.lg {
	padding: 16px;
	font-size: 16px;
}

.camel-form-group.lg input.camel-input,
.camel-input-wrap.lg input.camel-input,
input.camel-input.lg {
	height: 50px;
}

.camel-input-wrap {
	.addon-icon,
	.addon-icon-right {
		width: 16px;
		height: 16px;
		font-size: 16px;
		top: 0;
		bottom: 0;
		margin: auto;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 2;
	}

	.addon-icon {
		right: auto;
		left: 10px;
		~ .camel-input {
			padding-left: 32px;
		}
	}

	.addon-icon-right {
		left: auto;
		right: 10px;

		~ .camel-input {
			padding-right: 32px;
		}
	}

	&.sm {
		.addon-icon,
		.addon-icon-right {
			font-size: 14px;
			width: 14px;
			height: 14px;
		}

		.addon-icon {
			left: 8px;

			~ .camel-input {
				padding-left: 26px;
			}
		}

		.addon-icon-right {
			right: 8px;

			~ .camel-input {
				padding-right: 26px;
			}
		}
	}

	&.lg {
		.addon-icon,
		.addon-icon-right {
			font-size: 20px;
			width: 20px;
			height: 20px;
		}

		.addon-icon {
			left: 10px;

			~ .camel-input {
				padding-left: 36px;
			}
		}

		.addon-icon-right {
			right: 10px;

			~ .camel-input {
				padding-right: 36px;
			}
		}
	}
}

.camel-input:focus,
.camel-select:focus {
	box-shadow: 0 0 3px #93d0ea;
	border-color: #93d0ea;
	z-index: 1;
}

.camel-input.success,
.camel-input.success:focus,
.camel-select.success,
.camel-select.success:focus {
	box-shadow: 0 0 3px #99CC33;
	border-color: #99CC33;
	z-index: 1;
}

.camel-input.warn,
.camel-input.warn:focus,
.camel-select.warn,
.camel-select.warn:focus {
	box-shadow: 0 0 3px #ff9c00;
	border-color: #ff9c00;
	z-index: 1;
}

.camel-input.error,
.camel-input.error:focus,
.camel-select.error,
.camel-select.error:focus {
	box-shadow: 0 0 3px #c80a06;
	border-color: #c80a06;
	z-index: 1;
}

input[placeholder] { text-overflow: ellipsis;}
input::-webkit-input-placeholder { color: #aaa;opacity: 1;line-height: normal; }
input::-moz-placeholder { color: #aaa;opacity: 1;text-overflow:ellipsis; }
input:-moz-placeholder { color: #aaa;opacity: 1;text-overflow:ellipsis; }
input:-ms-input-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }

textarea[placeholder] { text-overflow: ellipsis;}
textarea::-webkit-input-placeholder { color: #aaa;opacity: 1;line-height: normal; }
textarea::-moz-placeholder{ color: #aaa;opacity: 1;text-overflow: ellipsis; }
textarea:-moz-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }
textarea:-ms-input-placeholder { color: #aaa;opacity: 1;text-overflow: ellipsis; }

input:focus::-webkit-input-placeholder { opacity: 0 }
input:focus:-moz-placeholder { opacity: 0 }
input:focus::-moz-placeholder { opacity: 0 }
input:focus:-ms-input-placeholder { opacity: 0 }

textarea:focus::-webkit-input-placeholder { opacity: 0 }
textarea:focus:-moz-placeholder { opacity: 0 }
textarea:focus::-moz-placeholder { opacity: 0 }
textarea:focus:-ms-input-placeholder { opacity: 0 }
