@import 'local';

.camel-button-group {
	font-size: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&.full {
		width: 100%;
		display: table;
		border-collapse: collapse;
	}

	&.full .camel-button {
		display: table-cell;
	}

	.camel-button {
		margin: 0;
		margin-left: -1px;
		border-radius: 0;

		&:first-child,
		&.first {
			border-top-left-radius: $form-element-radius;
			border-bottom-left-radius: $form-element-radius;
			border-left: none;
			margin-left: 0;
		}

		&:last-child,
		&.last {
			border-top-right-radius: $form-element-radius;
			border-bottom-right-radius: $form-element-radius;
			border-right: none;
		}
	}

	&.stack {
		display: inline-block;

		.camel-button + .camel-button {
			margin-top: -1px;
		}

		.camel-button {
			margin: 0;
			border-radius: 0;
			border-left: none;
			border-right: none;
			display: block;
			width: 100%;
			box-sizing: border-box;

			&:first-child,
			&.first {
				border-top: none;
				border-top-left-radius: $form-element-radius;
				border-top-right-radius: $form-element-radius;
			}

			&:last-child,
			&.last {
				border-bottom: none;
				border-bottom-left-radius: $form-element-radius;
				border-bottom-right-radius: $form-element-radius;
			}
		}

		&.full {
			width: 100%;
		}
	}
}
