@import 'local';

.camel-toggle {
	margin: 0 2px;
	display: inline-block;
	width:auto;
	vertical-align: middle;

	.handle {
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		width: 40px;
		height: 14px;
		background-color: #ccc;
		border-radius: 14px;

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";

			background-color: #fff;
			border-radius: 20px;
			transition: all 0.25s ease-in-out;
		}

		&:before {
			margin: 0;
			width: 20px;
			height: 14px;
			background-color: transparent;
		}

		&:after {
			left: -2px;
			width: 20px;
			height: 20px;
			margin-top: -3px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 3px 1px #aaa;
			box-sizing: border-box;
		}
	}

	input[type=checkbox] {
		position: absolute;
		width: 40px;
		height: 20px;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		z-index: 1;
	}

	input[type=checkbox]:checked + .handle {
		&:before{
			width: 40px;
			background-color: $main-color;
			opacity: 0.5;
		}

		&:after {
			left: 22px;
			background-color: $main-color;
			border-color: $main-color;
		}
	}

	input[type=checkbox][disabled] + .handle {
		background-color: #eee;

		&:after {
			border-color: #eee;
		}
	}

	input[type=checkbox][disabled]:checked + .handle {
		background-color: #eee;

		&:before {
			background-color: #eee;
		}

		&:after {
			border-color: #ddd;
			background-color: #ddd;
		}
	}
}


.camel-label {
	.camel-toggle {
		 line-height: normal;

		.handle {
			vertical-align: baseline;
		}
	}
}
