@import 'local';

.camel-upload {
	position: relative;
	font-size: $default-font-size;
	border-radius: $form-element-radius;
	background-color: $secondary-color-light;
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	line-height: 0;

	&:hover {
		opacity: 0.85;
		zoom: 1;
	}

	.title {
		position: relative;
		line-height: 100%;
		padding: 11px 0px;
		display: inline-block;

		@include text-truncate;

		&:before {
			position: relative;
			content: "\f0ee";
			font-family: FontAwesome;
			margin-right: 0.5em;
			font-size: 20px;
			line-height: 10px;
			vertical-align: top;
		}
	}

	&.sm {
		.title {
			font-size: 12px;
			padding-top: 7px;
			padding-bottom: 7px;

			&:before {
				font-size: 14px;
			}
		}
	}

	&.lg {
		.title {
			font-size: 16px;
			padding-top: 17px;
			padding-bottom: 17px;

			&:before {
				font-size: 30px;
			}
		}
	}

	input[type=file].file {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 500px;
		opacity: 0;

		&[disabled]{
			cursor: not-allowed;
		}
	}
}
