@import 'local';

.camel-form,
.camel-button,
.camel-input,
.camel-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	outline: none;
	line-height: 100%;
	font-size: $default-font-size;
}

form.camel-form {
	padding: 0 ($form-grid-h-gutter / 2);
	margin-bottom: $form-grid-v-gutter;

	fieldset {
		padding: 0 ($form-grid-h-gutter / 2);
		padding-top: $form-grid-v-gutter;
		border-radius: $form-element-radius;
		border-color: $secondary-color-dark;
		margin-left: ($form-grid-h-gutter / 2 * -1);
		margin-right: ($form-grid-h-gutter / 2 * -1);
		position: relative;
	}

	legend {
		margin: 0;
		margin-left: 0.5em;
		padding: 0 0.5em;
		font-weight: bold;
		line-height: 100%;
	}

	.row {
		margin: 0;
		display: block;
		margin-bottom: $form-grid-v-gutter;
		font-size: 0;
		box-sizing: border-box;

		[class*="col-"] {
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			padding: 0 $form-grid-h-gutter;
			font-size: $default-font-size;
			float: none;

			.camel-input,
			.camel-input-addon,
			.camel-input-wrap,
			.camel-form-group,
			.camel-select,
			.camel-button {
				box-sizing: border-box;
				position: relative;
				width: 100%;
				margin: 0;
			}

			.camel-button {
				width: auto;

				&.full {
					width: 100%;
				}
			}
		}
	}
}

.camel-label {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;

	&.block {
		display: table;
	}

	&.require {
		position: relative;
		margin-right: 0.8em;

		&:after {
			color: #F22613;
			content: "*";
			font-size: 1.5em;
			position: absolute;
			vertical-align: middle;
			display: block;
			padding-left: 0.2em;
			left: 100%;
			top: -10%;
		}
	}
}

input[type=checkbox],
input[type=radio] {
	margin: -2px 5px 0 0;
	vertical-align: middle;

	&[disabled]{
		cursor: not-allowed;
	}
}

.camel-checkbox-wrap,
.camel-radio-wrap {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	width: 14px;
	height: 14px;
	font-size: 0;
	margin-right: 3px;
}

.camel-pseudo-radio,
.camel-pseudo-checkbox {
	position: relative;
	width: 18px;
	height: 14px;
	font-family: FontAwesome;
	display: inline-block;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: visible;

	&:before {
		line-height: 18px;
		font-size: 18px;
	}
}

.camel-radio-wrap .camel-radio[disabled] + .camel-pseudo-radio:before {
	color: #ddd;
	content: "\f10c";
}

.camel-radio-wrap .camel-radio[disabled]:checked + .camel-pseudo-radio:before {
	color: #ddd;
	content: "\f192";
}

.camel-radio-wrap .camel-radio + .camel-pseudo-radio:before {
	color: #ccc;
	content: "\f10c";
}

.camel-radio-wrap .camel-radio:checked + .camel-pseudo-radio:before {
	color: #16A085;
	content: "\f192";
}

.camel-checkbox-wrap .camel-checkbox[disabled] + .camel-pseudo-checkbox:before {
	color: #ddd;
	content: "\f096";
}

.camel-checkbox-wrap .camel-checkbox[disabled]:checked + .camel-pseudo-checkbox:before {
	color: #ddd;
	content: "\f14a";
}

.camel-checkbox-wrap .camel-checkbox + .camel-pseudo-checkbox:before {
	color: #ccc;
	content: "\f096";
}

.camel-checkbox-wrap .camel-checkbox:checked + .camel-pseudo-checkbox:before {
	color: #16A085;
	content: "\f14a";
}

.camel-checkbox-wrap .camel-checkbox,
.camel-radio-wrap .camel-radio  {
	position: absolute;
	z-index: 1;
	opacity: 0;
	width: 18px;
	height: 14px;
	top: 0;
	left: 0;
}

.camel-input[disabled],
.camel-select[disabled] {
	background: #eee;
	border: 1px solid #cdcdcd;
	color: #aaa;
	cursor: not-allowed;
}

.camel-button[disabled] {
	cursor: not-allowed;
}
