@import 'local';

.camel-overlay {
	display: block;
	box-sizing: border-box;

	@include absolute-center;

	width: 100%;
	height: 100%;
	color: #fff;
	background: rgb(0,0,0);
	background: rgba(0,0,0,.6);
	z-index: 99;

	&.hover {
		&.slide {
			transition: transform 0.3s ease-out;
			transform: scaleY(0) translateZ(0);
			transform-origin: 0 100%;
			top: auto;
		}

		&.fade {
			transition: all 0.2s ease-out;
			opacity: 0;
		}
	}
}


*:hover > .camel-overlay {
	&.hover {
		&.slide {
			transform: scaleY(1) translateZ(0);
		}

		&.fade {
			opacity: 1;
		}
	}
}
