@import 'local';

.camel-toggle {
	display: inline-block;
	width:auto;

	.handle {
		position: relative;
		display: block;
		width: 50px;
		height: 25px;
		background-color: #ddd;
		border-radius: 25px;

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";

			background-color: #fff;
			border-radius: 25px;
			transition: all 0.25s ease-in-out;
		}

		&:before {
			width: 25px;
			height: 25px;
		}

		&:after {
			border: 2px solid #ddd;
			width: 21px;
			height: 21px;
		}
	}

	.camel-checkbox {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 1;
	}

	.camel-checkbox:checked + .handle {
		&:before{
			width: 50px;
			background-color: #269ecb;
		}

		&:after {
			left: 25px;
			border-color: #269ecb;
		}
	}

	.camel-checkbox[disabled] + .handle {
		background-color: #eee;

		&:after {
			border-color: #eee;
		}
	}

	.camel-checkbox[disabled]:checked + .handle {
		background-color: #eee;

		&:before {
			background-color: #eee;
		}

		&:after {
			border-color: #eee;
			background-color: #ddd;
		}
	}
}

.msie8 {
	.camel-toggle {
		.camel-checkbox[disabled][checked] + .handle {
			background-color: #eee;

			&:before {
				background-color: #eee;
			}

			&:after {
				border-color: #eee;
				background-color: #ddd;
			}
		}

		.camel-checkbox[checked] + .handle {
			&:before{
				width: 50px;
				background-color: #269ecb;
			}

			&:after {
				left: 25px;
				border-color: #269ecb;
			}
		}
	}
}
