@import 'local';

.camel-collapse {
	>dt.head {
		padding: 0;
		margin: 0;
		margin-bottom: 3px;

		a {
			background-color: #eee;
			font-weight: normal;
			display: block;
			color: $primary-color;
			text-decoration: none;
			padding: 0.7em 1.2em;

			&:hover {
				background-color: #ddd;
			}

			&:before {
				content: "\25BA";
				margin-right: 0.5em;
			}

			&.selected {
				&:before {
					content: "\25BC";
				}
			}
		}
	}

	>dd.body {
		padding: 0;
		margin: 1em 0;
	}
}
