@import 'local';

.medusa-dropdown {
	left: 0;
	top: auto;
	display: none;
	position: absolute;
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
	margin-top: 10px;
	border: none;
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
	box-shadow: 0 1px 3px rgba(100, 100, 100, 0.7);

	li {
		display: block;
		padding: 5px 10px;
		padding-left: 25px;
		cursor: pointer;

		&:hover {
			background-color: #ddd;
		}
	}

	.split {
		border: 0;
		border-top: 1px solid #ddd;
		display: block;
		margin: 0.5em 0;
	}
}
