@import 'local';

.medusa-form,
.medusa-button,
.medusa-input,
.medusa-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	outline: none;
	line-height: 100%;
	font-size: $default-font-size;
}

form.medusa-form {
	padding: 0;
	margin: 0;
	padding-left: $form-grid-gutter / 2;
	padding-right: $form-grid-gutter / 2;
	margin-left: -$form-grid-gutter;
	margin-right: -$form-grid-gutter;

	fieldset {
		padding: 0 ($form-grid-gutter / 2);
		border-radius: $form-element-radius;
		border-color: $secondary-color-dark;
		margin-left: ($form-grid-gutter / 2);
		margin-right: ($form-grid-gutter / 2);
	}
}

legend {
	margin: 0;
	margin-left: 0.5em;
	padding: 0 0.5em;
	font-weight: bold;
	line-height: 100%;
}

.medusa-label {
	display: inline-block;
	vertical-align: middle;
	line-height: 2em;

	&.block {
		display: table;
	}

	&.require {
		position: relative;
		margin-right: 0.8em;

		&:after {
			color: #F22613;
			content: "*";
			font-size: 1.5em;
			position: absolute;
			vertical-align: middle;
			display: block;
			padding-left: 0.2em;
			left: 100%;
			top: -10%;
		}
	}
}

input[type=checkbox],
input[type=radio] {
	margin: -2px 5px 0px 5px;
	vertical-align: middle;

	&[disabled]{
		cursor: not-allowed;
	}
}

.medusa-input[disabled],
.medusa-select[disabled] {
	background: #eee;
	border: 1px solid #cdcdcd;
	color: #aaa;
	cursor: not-allowed;
}

.medusa-button[disabled] {
	cursor: not-allowed;
}

input::-webkit-input-placeholder    {color: #aaa;}
textarea::-webkit-input-placeholder {color: #aaa;}
input:-moz-placeholder              {color: #aaa;opacity: 1;}
textarea:-moz-placeholder           {color: #aaa;opacity: 1;}
input::-moz-placeholder             {color: #aaa;opacity: 1;}
textarea::-moz-placeholder          {color: #aaa;opacity: 1;}
input:-ms-input-placeholder         {color: #aaa;}
textarea:-ms-input-placeholder      {color: #aaa;}
