@import 'local';

.medusa-form,
.medusa-button,
.medusa-input,
.medusa-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	outline: none;
	line-height: 100%;
	font-size: $default-font-size;
}

fieldset {
	padding: 10px;
	padding-top: 0;
	margin: 0px;
}

legend {
	padding: 5px;
	font-weight: bold;
	line-height: 100%;
}

.medusa-label
{
	display: inline-block;
	vertical-align: middle;

	&.block {
		display: block;
		padding: 5px 0;
	}
}

input[type=checkbox],
input[type=radio] {
	margin: -2px 5px 0px 5px;
	vertical-align: middle;

	&[disabled]{
		cursor: not-allowed;
	}
}

.input[type=file] {
	&[disabled]{
		cursor: not-allowed;
	}
}

.medusa-input[disabled],
.medusa-select[disabled],
.medusa-button[disabled] {
	background: #eee;
	border: 1px solid #cdcdcd;
	color: #aaa;
	cursor: not-allowed;
}

input::-webkit-input-placeholder    {color: #aaa;}
textarea::-webkit-input-placeholder {color: #aaa;}
input:-moz-placeholder              {color: #aaa;opacity: 1;}
textarea:-moz-placeholder           {color: #aaa;opacity: 1;}
input::-moz-placeholder             {color: #aaa;opacity: 1;}
textarea::-moz-placeholder          {color: #aaa;opacity: 1;}
input:-ms-input-placeholder         {color: #aaa;}
textarea:-ms-input-placeholder      {color: #aaa;}
