@import 'local';

.medusa-button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;

	font-size: 12px;
	padding: 11px 30px;
	border: 1px solid $secondary-color-dark;
	border-radius: $form-element-radius;

	background: #f5f5f5;
	background: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background: -moz-linear-gradient( center top, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(0, 0, 0, .1)), to(rgba(255, 255, 255, .1)));

	@include text-truncate;

	&.sm {
		font-size: 11px;
		line-height: 10px;
		padding: 8px 20px;
	}

	&.lg {
		line-height: 16px;
		font-size: 15px;
		padding: 16px 35px;
	}

	&.full {
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin: 0;
	}

	&:active {
		top: 1px
	}

	&[disabled] {
		opacity: 0.7 !important;

		&:active {
			top: 0px
		}
	}

	&:hover {
		opacity: 0.85;
		zoom: 1;
	}

	&.addon,
	&.addon-right,
	&.addon-no-text {
		.addon-icon {
			display: inline-block;
			padding: 0;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			position: absolute;
		}
	}

	&.addon {
		padding-left: 36px;
		padding-right: 24px;

		.addon-icon {
			top: 0;
			bottom: 0;
			left: 10px;
			margin: auto;
		}

		&.sm {
			padding-left: 26px;
			padding-right: 14px;

			.addon-icon {
				left: 5px;
			}
		}

		&.lg {
			padding-left: 40px;
			padding-right: 30px;

			.addon-icon {
				left: 12px;
			}
		}
	}

	&.addon-right {
		padding-left: 24px;
		padding-right: 36px;

		.addon-icon {
			left: auto;
			top: 0;
			bottom: 0;
			right: 10px;
			margin: auto;
		}

		&.sm {
			padding-left: 14px;
			padding-right: 26px;

			.addon-icon {
				right: 5px;
			}
		}

		&.lg {
			padding-left: 30px;
			padding-right: 40px;

			.addon-icon {
				right: 12px;
			}
		}
	}

	&.addon-no-text {
		padding: 11px 16px;

		&:after {
			content: "\00a0";
		}

		.addon-icon {
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}

		&.sm {
			padding: 8px 12px;
		}

		&.lg {
			padding: 16px 22px;
		}
	}

	&.dropdown {
		&.sm {
			padding-right: 24px;
		}

		&:after {
			content: '\025BC';
			position: absolute;
			right: 0.7em;
			z-index: 1;
		}

		&.split {
			padding-left: 0.8em;
			padding-right: 0.7em;
			border-left: 0;
			left: -1px;

			&:after {
				position: relative;
				right: 0;
			}
		}
	}

	&.preload {
		color: transparent;

		&:after {
			content: '\00a0';
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('data:image/gif;base64,R0lGODlhGwAKAKIHAPHx8Y+Pj2FhYc7OzktKSrKysjs7O////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAHACwAAAAAGwAKAAADR3i63P4wygNKCIOBGwAbV+EtgWAKGXWaY7EGC7CairsWyiyMg+6VL9UsJQsebCfcwbdAohSbU0fRO6UWg4JIk71Ctd6JeJEAACH5BAkKAAcALAAAAAAKAAoAAAMheApVoyuYaQRQkk4LtHYeFQzhFHRlcWSadQBsdUFDMc4JACH5BAkKAAcALAAAAAAbAAoAAANFeLqsUGW0ycAACwTDjcBUJhBkgG0d94XKSJIFkKYFO7yvMMxdwBa4147nsQUJH6KhxnIJD6jUiqUh6RxRD4jFHRQCF24CACH5BAkKAAcALAAAAAAbAAoAAANYeLrcDaUMRxUYYIFguhGZVQTBZAlEGmSc14FKIMyCiaZpAbhucQA02g9HHPA8gcMgOLsQccajIQkMUp8EkNTgOxSCpsDT13LBFINI6PfNmjbmdWWuHGEUCQAh+QQJCgAHACwAAAAAGwAKAAADUHi63P4wLjBAAyWEwYAOlgIIRAkugaAK3DGuQkiWZSHCqlLgNkDTAsUAFzukYIFD4UezvFZJJc/FJAR1sJYHGgowW8JCISQaFMCulBUtaTMSACH5BAUUAAcALAAAAAAbAAoAAANHeLrc/jDKA0oIg4EbABtX4S2BYAoZdZpjsQYLsJqKuxbKLIyD7pUv1SwlCx5sJ9zBt0CiFJtTR9E7pRaDgkiTvUK13ol4kQAAOw==');
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}
