@import 'local';

.medusa-upload {
	border-radius: $form-element-radius;
	background-color: $secondary-color-light;
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;

	&:hover {
		opacity: 0.85;
		zoom: 1;
	}

	.title {
		padding: 12px 0px;
		display: inline-block;
		@include text-truncate;
	}

	input[type=file].file {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 500px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
