@import 'local';

.medusa-progress {
	display: block;
	position: relative;
	background-color: #eee;
	height: 20px;
	overflow: hidden;

	&.thin {
		height: 3px;
	}

	&.striped {
		.bar {
		background-size: 30px 30px;
		background-image:
			linear-gradient(135deg, rgba(255, 255, 255, .15) 25%,
			transparent 25%,transparent 50%,
			rgba(255, 255, 255, .15) 50%,
			rgba(255, 255, 255, .15) 75%,
			transparent 75%, transparent);
		}
	}

	&.animated {
		.bar {
			-webkit-animation: animate-stripes 3s linear infinite;
			   -moz-animation: animate-stripes 3s linear infinite;
			    -ms-animation: animate-stripes 3s linear infinite;
			     -o-animation: animate-stripes 3s linear infinite;
			        animation: animate-stripes 3s linear infinite;
		}
	}

	.label {
		position: absolute;
		display: block;
		text-align: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 14px;
		line-height: 1;

		@include text-truncate;
	}

	.bar {
		display: block;
		position: relative;
		width: 0;
		height: 100%;
		max-width: 100%;
		background-color: #C7D3DF;
		transition : width 1s ease;
	}
}


@-webkit-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
