*[popup-top]:hover:before,
*[popup-bottom]:hover:before,
*[popup-left]:hover:before,
*[popup-right]:hover:before {
	position: absolute;
	background: #81adc9;
	left: 0;
	font-size: 12px;
	color: #fff;
	background-color: #525252;
	border-radius: 3px;
	padding: 10px;
	width: auto;
	white-space: nowrap;
	line-height: 100%;
	z-index: 1;
	opacity: 0.95;
	box-shadow: 0 1px 5px #666;
}

*[popup-top]:hover:before {
	content: attr(popup-top);
	bottom: 100%;
	margin-bottom: 14px;
}

*[popup-bottom]:hover:before {
	content: attr(popup-bottom);
	top: 100%;
	margin-top: 14px;
}

*[popup-right]:hover:before {
	content: attr(popup-right);
	top: 0;
	left: 100%;
	margin-left: 14px;
}

*[popup-left]:hover:before {
	content: attr(popup-left);
	left: auto;
	right: 100%;
	margin-right: 14px;
}

*[popup-top]:hover:after,
*[popup-bottom]:hover:after,
*[popup-left]:hover:after,
*[popup-right]:hover:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 7px;
	margin-left: -7px;
	z-index: 1;
	opacity: 0.95;
}

*[popup-top]:hover:after {
	bottom: 100%;
	left: 14px;
	border-top-color: #525252;
}

*[popup-bottom]:hover:after {
	top: 100%;
	left: 14px;
	margin-bottom: 14px;
	border-bottom-color: #525252;
}

*[popup-right]:hover:after {
	margin-left: 0;
	border-right-color: #525252;
	margin-top: 4px;
	left: 100%;
	top: 0;
}

*[popup-left]:hover:after {
	right: 100%;
	border-left-color: #525252;
	margin-top: 4px;
}
