.medusa-slider {
	overflow: hidden;
	text-align: center;

	.ribbon {
		display: block;

		.item {
			text-align: left;
			display: inline-block;
			vertical-align: top;
			height: 100%;

			.title {
				display: none;
				position: absolute;
				bottom: 0;
				width: 100%;

				.overlay {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #222222;
					opacity: 0.5;
					filter: alpha(opacity=50);
				}

				.text {
					padding: 15px;
					color: #eee;
				}
			}
		}
	}

	.to-left,
	.to-right {
		display: none;
		cursor: pointer;
		vertical-align: middle;
		border: 2px solid #ddd;
		color: #ddd;
		font-size: 30px;
		line-height: 25px;
		position: absolute;
		top: 50%;
		margin-top: -40px;
		background-color: #222;
		opacity: .5;
		border-radius: 20px;
		width: 30px;
		height: 30px;

		&:hover {
			opacity: .8;
		}
	}

	&:hover {
		.to-left,
		.to-right {
			display: block;
		}
	}

	.to-left {
		left: 15px;
	}

	.to-right {
		right: 15px;
		padding-left: 3px;
		width: 27px;
	}

	.tools {
		display: inline-block;
		white-space: nowrap;
	}

	.click-circle {
		vertical-align: middle;
		text-align: center;

		.item {
			margin: 3px;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;

			&:after {
				content: '\025CF';
				font-size: 30px;
				line-height: 30px;
				color: #ddd;

			}

			&.selected {
				&:after {
					color: #aaa;
				}
			}
		}
	}
}
