@import 'local';

.medusa-breadcrumbs {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 2em;

	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li + li:before {
		color: #ccc;
		padding: 0 0.25em;
		font-size: 1.5em;
		font-family: Arial;
	}

	&.slash-style {
		li + li:before {
			content: "/";
			vertical-align: middle;
			font-family: Arial;
		}
	}

	&.arrow-style {
		li + li:before {
			content: "\0203A";
			padding: 0 0.23em;
			font-family: Arial;
		}
	}

	&.circle-style {
		li + li:before {
			content: "\025CF";
			font-size: 14px;
			padding: 0 0.3em;
			font-family: Arial;
		}
	}

	&.chain-style {
		display: inline-block;
		font-size: 0;

		li {
			display: inline-block;
			font-size: 14px;
			line-height: 20px;

			a {
				display: block;
				float: left;
				background: #eee;
				color: #222;
				text-align: center;
				padding: 10px;
				padding-left: 30px;
				position: relative;
				margin: 0 10px 0 0;
				text-decoration: none;

				&:after {
					content: "";
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 20px solid #eee;
					position: absolute; right: -20px; top: 0;
					z-index: 1;
				}

				&:before {
					content: "";
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 20px solid #fff;
					position: absolute;
					left: 0;
					top: 0;
				}

				&:hover {
					background: #4b545f;
					color: #fff;

					&:after {
						border-left-color: #4b545f;
					}
				}
			}

			&:first-child {
				a {
					padding: 10px;
					padding-left: 20px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;

					&:before {
						display: none;
					}
				}
			}

			&:last-child {
				a {
					padding: 10px 20px;
					padding-left: 30px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					margin-right: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}
}
