@import 'local';

.medusa-select {
	width: 200px;
	padding: 8px;
	vertical-align: middle;
	overflow: hidden;
	margin: 2px;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-sizing: border-box;
	border-radius: $form-element-radius;

	&[multiple] {
		height: auto;
	}
}

.medusa-form-group.sm .medusa-select,
.medusa-select.sm {
	font-size: 12px;
	padding: 5px;
}

.medusa-form-group.lg .medusa-select,
.medusa-select.lg {
	font-size: 16px;
	padding: 11px;
}
