@import 'local';

.medusa-button
{
	font-size: 12px;
	margin: 2px;
	padding: 10px 30px;
	border: 1px solid $secondary-color-dark;

	cursor:pointer;
	display:inline-block;
	font-weight: normal;
	text-decoration:none;
	text-align: center;

	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";

	@include text-truncate;
	//@include border-box;
	//@include border-radius($form-element-radius);
}

.medusa-button:hover
{
	zoom: 1;
	//@include opacity(0.85);
}

.medusa-button:active
{
	top: 1px;
}

.medusa-button[disabled]:active
{
	top:0px;
}

.medusa-button[disabled]:hover
{
	//@include opacity(1);
}

.medusa-button.sm
{
	font-size: 11px;
	padding: 7px 15px;
}

.medusa-button.lg
{
	font-size: 15px;
	padding: 14px 35px;
}

.medusa-button.full
{
	display: block;
	width: 100%;
	margin: 0;
	//@include border-box;
}

.medusa-button.addon
{
	padding-left: 36px;
	padding-right: 24px;
}

.medusa-button.addon-right
{
	padding-left: 24px;
	padding-right: 36px;
}

.medusa-button.addon .addon-icon,
.medusa-button.addon-right .addon-icon,
.medusa-button.addon-no-text .addon-icon
{
	display: inline-block;
	padding: 0;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
}

.medusa-button.addon .addon-icon
{
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto;
}

.medusa-button.addon-right .addon-icon
{
	left: auto;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
}

.medusa-button.addon-no-text
{
	padding: 10px 15px;
}

.medusa-button.addon-no-text .addon-icon
{
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.medusa-button.addon-no-text:after
{
	content: "\00a0";
}
