@import 'local';

.medusa-input {
	height: 36px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-shadow: inset 0 1px 3px #ddd;

	box-sizing: border-box;
	border-radius: $form-element-radius;
}

textarea.medusa-input {
	height: auto;
	overflow: auto;
	line-height: 1.2em;
	resize: none;
}

.medusa-form-row .medusa-input-wrap {
	width: 100%;
}

.medusa-input-wrap {
	display: table;
	white-space: nowrap;
}

.medusa-form-group.sm .medusa-input,
.medusa-form-group.sm .addon-text,
.medusa-input-wrap.sm .medusa-input,
.medusa-input.sm {
	padding: 7px;
	font-size: 12px;
}

.medusa-form-group.sm input.medusa-input,
.medusa-input-wrap.sm input.medusa-input,
input.medusa-input.sm {
	height: 28px;
}

.medusa-form-group.lg .medusa-input,
.medusa-form-group.lg .addon-text,
.medusa-input-wrap.lg .medusa-input,
.medusa-input.lg {
	padding: 12px;
	font-size: 16px;
}

.medusa-form-group.lg input.medusa-input,
.medusa-input-wrap.lg input.medusa-input,
input.medusa-input.lg {
	height: 50px;
}

.medusa-input-wrap {
	.addon-icon,
	.addon-icon-right {
		width: 16px;
		height: 16px;
		top: 0;
		bottom: 0;
		margin: auto;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 1;
	}

	.addon-icon {
		right: auto;
		left: 10px;
		~ .medusa-input {
			padding-left: 32px;
		}
	}

	.addon-icon-right {
		left: auto;
		right: 10px;

		~ .medusa-input {
			padding-right: 32px;
		}
	}

	&.sm {
		.addon-icon {
			left: 7px;

			~ .medusa-input {
				padding-left: 26px;
			}
		}

		.addon-icon-right {
			right: 7px;

			~ .medusa-input {
				padding-right: 26px;
			}
		}
	}

	&.lg {
		.addon-icon {
			left: 12px;

			~ .medusa-input {
				padding-left: 36px;
			}
		}

		.addon-icon-right {
			right: 12px;

			~ .medusa-input {
				padding-right: 36px;
			}
		}
	}
}

.medusa-input:focus,
.medusa-select:focus {
	box-shadow: 0 0 3px #93d0ea;
	border-color: #93d0ea;
}

.medusa-input.success,
.medusa-input.success:focus,
.medusa-select.success,
.medusa-select.success:focus {
	box-shadow: 0 0 3px #99CC33;
	border-color: #99CC33;
}

.medusa-input.warn,
.medusa-input.warn:focus,
.medusa-select.warn,
.medusa-select.warn:focus {
	box-shadow: 0 0 3px #ff9c00;
	border-color: #ff9c00;
}

.medusa-input.error,
.medusa-input.error:focus,
.medusa-select.error,
.medusa-select.error:focus {
	box-shadow: 0 0 3px #c80a06;
	border-color: #c80a06;
}
