@import 'local';

.medusa-form,
.medusa-button,
.medusa-input,
.medusa-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	outline: none;
	line-height: 100%;
	font-size: $default-font-size;
}

form.medusa-form {
	padding: 0;
	margin: 0;
	padding-left: $form-grid-gutter / 2;
	padding-right: $form-grid-gutter / 2;
	margin-left: -$form-grid-gutter;
	margin-right: -$form-grid-gutter;

	fieldset {
		padding: 0 ($form-grid-gutter / 2);
		border-radius: $form-element-radius;
		border-color: $secondary-color-dark;
		margin-left: ($form-grid-gutter / 2);
		margin-right: ($form-grid-gutter / 2);
	}
}

legend {
	margin: 0;
	margin-left: 0.5em;
	padding: 0 0.5em;
	font-weight: bold;
	line-height: 100%;
}

.medusa-label {
	display: inline-block;
	vertical-align: middle;
	line-height: 2em;

	&.block {
		display: table;
	}

	&.require {
		position: relative;
		margin-right: 0.8em;

		&:after {
			color: #F22613;
			content: "*";
			font-size: 1.5em;
			position: absolute;
			vertical-align: middle;
			display: block;
			padding-left: 0.2em;
			left: 100%;
			top: -10%;
		}
	}
}

input[type=checkbox],
input[type=radio] {
	margin: -2px 5px 0 0;
	vertical-align: middle;

	&[disabled]{
		cursor: not-allowed;
	}
}

.medusa-checkbox-wrap,
.medusa-radio-wrap {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	font-size: 0;
}

.medusa-pseudo-radio,
.medusa-pseudo-checkbox {
	position: relative;
	width: 16px;
	height: 16px;
	display: inline-block;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
}

$radio_disabled_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEUlEQVQ4T61T7Q2CMBC1MICOIIH/wgY4iW4gbgIb4CSygfAfUkbQAQDfNT1SAcWITRrofbx79yVWgyOl3LZte4I4xPW1Osc3sywrcRynNl2E+aiqKsabnD+d2HXdMxv0AHCmKDtSdF13sW07RjSSrcDKb5omEkIcmBFAAvpXAEbkB2iG7DiRno/0MsjXuAlAIqFzlmQM5+CdM4MRG4DctL0jODrR9jzvOJO/Updlmep0EgJQuX8TfYJFTgAdKZDPS0fmmLDfXwCWpFD0ReS2zFEfFXFxGweDdEc39jODdIXPph8kpmyOMmSpXpx+lPWC8ZwU6JpatF+WSY0wBx71XteEDEIaMG1Y4EvrTAtWm4V+AqIns9LYFFAQAAAAAElFTkSuQmCC');
$radio_disabled_checked_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABSklEQVQ4T6VT0VGDQBDNQQHagbmBf0kHWIF2kHRgrEDTAXSAlZgODP8wkA5iAYDv3ewyJ4LO6M3cwO3tvn37btesJqtpmnXf948wp9iJXJ/wPQZBkFtrWz/E+Ie6rjOcGfzTyqIoelKHEQDBzHLLi2EYXsMwzJCNthVYJV3X7Y0xW2UEkA3/HYCX+QM0Uw2cKS9BeUfYr7BzgOyN1NzQGcGbpWAFIxuAvIu/NZqdtOM43qmj2O/lXCDbQe+qqiqknJwArnY/+4KYjrJqIixOBBhoxKUvaAvTzUSDFj7WY+jilgAuIpSPcQbAeg5groQXOD5PGBwAQLt7VimhHEXUZ5mI+OCJ6IK5voj472ckoqf6Ba9x90sjvSHkWhnPtjIuCxmcsZVlwHZSRQk93KD9ZZjGfvgGIApznNkwKbYbLqwSm+PMAWtVTH4/AeEq0dKZiIkYAAAAAElFTkSuQmCC');
$radio_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABFUlEQVQ4T6VT2w2CMBS1MICOoBMIG+ASEL50A3AT2EC/CCwhG1gm0BF0AKjnkrYp9dEYSEh67uPcN1tYX1VVa8/zMsZYBFUg1VwI0Q7DUKZpejddmAmapimAM5vUxCAqkiQ5KpkmqOuaI+qWFDA6413EccwJgziALIdsrzKCLqT3SGBEfgJGytHOhIgga/Ev8ZewyxnV7Pv+TRqH35wVmSS5Eu77fsNUdEobtR1+1a90KPckyymZUbsz+ocsOGUgSIHUJxNxZaL85hPMKQF963QT1VhcqZN+0sTZY7QW6QG8cyzSBTYrvUjGbPUqQ3aSBnqVgelGxj2h2rEz46H9fUx2r95mL3uSI0pkHFeHd4vVLexzfgEDoKvpvLfgUAAAAABJRU5ErkJggg==');
$radio_checked_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABcklEQVQ4T6WTMVbCQBCG5+eBrRwhFNAKRVLjDbyBAgcATwDcIDkAkJtIHQqwDYV4A2yFxzgTs+smoE+fVNld5pv5/5kBlX7eYu3VTschgbsgtPWZiTfEWB4q1WjX6+zcELiH5jwJJWhYhrpnZgq3A//R3FlAa5ZsCLjJM0YEire9YKPn5iJpSxkjgd+birb9oKPfGcBkFvobVbhrAsuVZKATlgBdi6xIICOo5is+vmRkcOe7YANTCBhrPb+j2oDNnhP1QaB1MXIM8F0WCMRpz59ayDyJVY5WAaPdzX7JTFOy8USr0O6gNV+xXqZ93xranK32qrPoAe/SftAwdybu9wCm13Tge+eAvH2uhNZsNZH+jAsVME0FMHElEPPzRRNtaxmfJhLFJjh/+zLx320sDBLRXnbg9sdBYjyJ23U7SNYUd5SZY6pQVBjlEw0BPGT/F+3pIMgW7e/L5AzcGSCfQq/GhxGYuma5NCODlgfUwvI6fwCLzO58/iWqogAAAABJRU5ErkJggg==');

.medusa-radio-wrap .medusa-radio[disabled] + .medusa-pseudo-radio {
	background-image: $radio_disabled_bg;
}

.medusa-radio-wrap .medusa-radio[disabled]:checked + .medusa-pseudo-radio {
	background-image: $radio_disabled_checked_bg;
}

.medusa-radio-wrap .medusa-radio + .medusa-pseudo-radio {
	background-image: $radio_bg;
}

.medusa-radio-wrap .medusa-radio:checked + .medusa-pseudo-radio {
	background-image: $radio_checked_bg;
}

.msie8 {
	.medusa-radio-wrap {
		.medusa-radio[disabled][checked] + .medusa-pseudo-radio {
			background-image: $radio_disabled_checked_bg;
		}

		.medusa-radio[checked] + .medusa-pseudo-radio {
			background-image: $radio_checked_bg;
		}
	}
}

$checkbox_disabled_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAW0lEQVQ4T2O8f/++w79//+YzMDAoADEp4AETE1Mi4927dx8AdcmTohNJ7QOQAf9BAsrKyoykGALTN2oAA8NoGAybMPgAzAP8pOQDJLUPGaHZeQEZOfIhMDsnAAAJ03PAesUILgAAAABJRU5ErkJggg==');
$checkbox_disabled_checked_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyUlEQVQ4T2O8f/++w79//+YzMDAoADEp4AETE1Mi4927dx8AdcmTohNJ7QOQAf/J1AzWRncDPgIt5Ud2MSku+AgMNIe/f/8aMDIyggKdJC+ANSsqKl4AxpoBMNb2A3UL4AqDRqBEAZJTcWrGZkCjsrJyA9SWAyAFuGzG5YUPQA2OMKeCFGFzNqFAhBsCUojuZ/Q0gysWwIaAFCMHGLYEhy8aP0A1gEMbFyAlHWA1A2QAyCaU1IXPRjS5h4zQ7LwAKEFqjnwIDKcEAIx8iMC6o4jDAAAAAElFTkSuQmCC');
$checkbox_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYUlEQVQ4T2NcvXq1w79//+YzMjIqMJAA/v///4CJiSmRcdWqVQ+A+uRJ0AtXCjIEZMB/kEhYWBgjKYbA9I0awMAwGgbDJgw+APMAPyn5AEntQ0ZQdgbmqgVk5MiHwCIgAQDwp3AnPE2fswAAAABJRU5ErkJggg==');
$checkbox_checked_bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2UlEQVQ4T72TsRWCQBBEZ2hAO9BAiEk01k7k2YAlaCGInWjsJcaaYAfYwK3HKTweHjzOwIv3z+7OzXKWqWUgkgGcwutJrsmEUapyEBMvti6WnNFByW/wm/qvgAieJEbNiQdPUMIIZAmNmKQx3WOFCr4ni2uYXWIITwTGbg8Ee+Pqthq1D/4WMPBtM9/ZLppnO6QZ29XZuYLpXICyqgFT1Qc7V2iKlAXtnduZcf5CJWKLG4a5Atf5jVakTNrH7a60Ds5Bp0CYqqKdrsG3IXjQnrPG0fsiDawDrF9J/oEw9fcSQAAAAABJRU5ErkJggg==');

.medusa-checkbox-wrap .medusa-checkbox[disabled] + .medusa-pseudo-checkbox {
	background-image: $checkbox_disabled_bg;
}

.medusa-checkbox-wrap .medusa-checkbox[disabled]:checked + .medusa-pseudo-checkbox {
	background-image: $checkbox_disabled_checked_bg;
}

.medusa-checkbox-wrap .medusa-checkbox + .medusa-pseudo-checkbox {
	background-image: $checkbox_bg;
}

.medusa-checkbox-wrap .medusa-checkbox:checked + .medusa-pseudo-checkbox {
	background-image: $checkbox_checked_bg;
}


.msie8 {
	.medusa-checkbox-wrap {
		.medusa-checkbox[disabled][checked] + .medusa-pseudo-checkbox {
			background-image: $checkbox_disabled_checked_bg;
		}

		.medusa-checkbox[checked] + .medusa-pseudo-checkbox {
			background-image: $checkbox_checked_bg;
		}
	}
}

.medusa-checkbox-wrap .medusa-checkbox,
.medusa-radio-wrap .medusa-radio  {
	position: absolute;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
}

/*.msie-lt8 {
	.medusa-radio-wrap {
		.medusa-radio {
			filter: alpha(opacity=100);
		}
	}
}*/

.medusa-input[disabled],
.medusa-select[disabled] {
	background: #eee;
	border: 1px solid #cdcdcd;
	color: #aaa;
	cursor: not-allowed;
}

.medusa-button[disabled] {
	cursor: not-allowed;
}
