/* select */
.medusa-select
{
	width: 200px;
	padding: 7px;
	vertical-align: middle;
	overflow: hidden;
	margin: 2px;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-shadow: 0 1px 3px #ddd;

	@include border-box;
	@include border-radius($form-element-radius);

	&.sm {
		font-size: 12px;
		padding: 5px;
	}

	&.lg {
		font-size: 16px;
		padding: 11px;
	}

	&[multiple]
	{
		height: auto;
	}
}


