@import 'local';

.medusa-button-group {
	font-size: 0;
	position: relative;
	display: inline-block;
	overflow: hidden;

	&.full {
		width: 100%;
		display: table;
	}

	&.full .medusa-button {
		display: table-cell;
	}

	.medusa-button {
		margin: 0;
		border-radius: 0;

		&:first-child {
			border-top-left-radius: $form-element-radius;
			border-bottom-left-radius: $form-element-radius;
		}

		&:last-child {
			border-top-right-radius: $form-element-radius;
			border-bottom-right-radius: $form-element-radius;
		}
	}

	&.collapse .medusa-button {
		margin-left: -1px;

		&:first-child {
			margin-left: 0px;
		}
	}

	&.collapse.full .medusa-button + .medusa-button {
		border-left: none;
	}

	&.stack {
		display: inline-block;

		&.collapse {
			.medusa-button + .medusa-button {
				margin-top: -1px;
			}
		}

		.medusa-button {
			margin: 0;
			border-radius: 0;
			display: block;

			&:first-child {
				border-top-left-radius: $form-element-radius;
				border-top-right-radius: $form-element-radius;
			}

			&:last-child {
				border-bottom-left-radius: $form-element-radius;
				border-bottom-right-radius: $form-element-radius;
			}
		}
	}
}
