@import 'local';

.medusa-form,
.medusa-button,
.medusa-input,
.medusa-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	outline: none;
	line-height: 100%;
	font-size: $default-font-size;
}

form.medusa-form {
	padding: 0;
	margin: 0;
	padding-left: $form-grid-gutter / 2;
	padding-right: $form-grid-gutter / 2;
	margin-left: -$form-grid-gutter;
	margin-right: -$form-grid-gutter;

	fieldset {
		padding: 0 ($form-grid-gutter / 2);
		border-radius: $form-element-radius;
		border-color: $secondary-color-dark;
		margin-left: ($form-grid-gutter / 2);
		margin-right: ($form-grid-gutter / 2);
	}
}

legend {
	margin: 0;
	margin-left: 0.5em;
	padding: 0 0.5em;
	font-weight: bold;
	line-height: 100%;
}

.medusa-label {
	display: inline-block;
	vertical-align: middle;
	line-height: 2em;

	&.block {
		display: table;
	}

	&.require {
		position: relative;
		margin-right: 0.8em;

		&:after {
			color: #F22613;
			content: "*";
			font-size: 1.5em;
			position: absolute;
			vertical-align: middle;
			display: block;
			padding-left: 0.2em;
			left: 100%;
			top: -10%;
		}
	}
}

input[type=checkbox],
input[type=radio] {
	margin: -2px 5px 0 0;
	vertical-align: middle;

	&[disabled]{
		cursor: not-allowed;
	}
}

.medusa-checkbox-wrap,
.medusa-radio-wrap {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	top: -2px;
}

.medusa-pseudo-radio,
.medusa-pseudo-checkbox {
	position: relative;
	width: 18px;
	height: 18px;
	display: inline-block;
	color: #ddd;
	font-family: Arial;
}

.medusa-pseudo-radio:before {
	content: '\025CB';
	position: absolute;
	font-size: 40px;
	line-height: 40px;
	bottom: -9px;
	left: -3px;
}

.medusa-radio:checked + .medusa-pseudo-radio:after {
	position: absolute;
	content: "\02022";
	color: #93d0ea;
	font-size: 29px;
	line-height: 30px;
	bottom: -6px;
	left: 4px;
}

.medusa-pseudo-checkbox:before {
	content: ' ';
	position: absolute;
	font-size: 24px;
	left: 0px;
	top: 0px;
	border: 2px solid;
	height: 14px;
	width: 14px;
	border-radius: 3px;
}

.medusa-checkbox-wrap .medusa-checkbox,
.medusa-radio-wrap .medusa-radio  {
	position: absolute;
	z-index: 1;
	opacity: 0;
	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
}

.medusa-checkbox:checked + .medusa-pseudo-checkbox:after {
	content: '\0D7';
	color: #93d0ea;
	font-weight: bold;
	position: absolute;
	font-size: 21px;
	line-height: 23px;
	left: 3px;
	top: -3px;
}

.medusa-checkbox[disabled] + .medusa-pseudo-checkbox,
.medusa-radio[disabled] + .medusa-pseudo-radio {
	opacity: 0.5;
}

.medusa-input[disabled],
.medusa-select[disabled] {
	background: #eee;
	border: 1px solid #cdcdcd;
	color: #aaa;
	cursor: not-allowed;
}

.medusa-button[disabled] {
	cursor: not-allowed;
}

input[placeholder] {
	text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
	color: #aaa;
	opacity: 1;
	line-height: normal;
}

input::-moz-placeholder {
	color: #aaa;
	opacity: 1;
	text-overflow:ellipsis;
}

input:-moz-placeholder {
	color: #aaa;
	opacity: 1;
	text-overflow:ellipsis;
}

input:-ms-input-placeholder {
	color: #aaa;
	opacity: 1;
	text-overflow: ellipsis;
}

textarea[placeholder] {
	text-overflow: ellipsis;
}

textarea::-webkit-input-placeholder {
	color: #aaa;
	opacity: 1;
	line-height: normal;
}

textarea::-moz-placeholder{
	color: #aaa;
	opacity: 1;
	text-overflow: ellipsis;
}

textarea:-moz-placeholder {
	color: #aaa;
	opacity: 1;
	text-overflow: ellipsis;
}

textarea:-ms-input-placeholder {
	color: #aaa;
	opacity: 1;
	text-overflow: ellipsis;
}
