@import 'local';

.medusa-switcher {
	display: inline-block;
	line-height: 1;
	font-size: 0;

	.childs {
		.item {
			display: inline-block;
			padding: 9px 15px;
			cursor: pointer;
			border: 1px solid #ddd;
			font-size: 14px;

			&.selected {
				background-color: #4b545f;
				border-color: #4b545f;
				color: #fff;
			}

			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		.item + .item {
			border-left: none;
		}
	}

	&.stack .childs {
		.item {
			display: block;
			border: 1px solid #ddd;

			&:first-child {
				border-radius: 0;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:last-child {
				border-radius: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	&.stack .childs {
		.item + .item {
			border-top: none;
		}
	}
}
