@import 'local';

.medusa-upload {
	border-radius: $form-element-radius;
	background-color: $secondary-color-light;
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	font-size: 0;
	line-height: 100%;

	&:hover {
		opacity: 0.85;
		zoom: 1;
	}

	.title {
		font-size: $default-font-size;
		line-height: 100%;
		padding: 12px 0px;
		display: inline-block;
		@include text-truncate;
	}

	&.sm {
		.title {
			font-size: 12px;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	&.lg {
		.title {
			font-size: 16px;
			padding-top: 17px;
			padding-bottom: 17px;
		}
	}

	input[type=file].file {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 500px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
