@import 'local';

.medusa-breadcrumbs,
.medusa-breadcrumbs li {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;

	li + li:before {
		content: "/";
		color: #ccc;
		padding: 0 5px;
		vertical-align: middle;
		font-size: 1.5em;
	}
}
