@import 'local';

.medusa-upload {
	background-color: $secondary-color-light;
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;

	&:hover {
		background-color: $secondary-color-light-hover;
	}

	.title {
		padding: 10px 0px;
		display: inline-block;
		@include text-truncate;
	}

	input[type=file].file {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 500px;
		opacity: 0;
	}
}
