@import 'local';

.medusa-input
{
	width: 200px;
	margin: 2px;
	padding: 8px;
	background-color: #fff;
	border: 1px solid $secondary-color-dark;
	box-shadow: inset 0 1px 3px #ddd;

	box-sizing: border-box;
	border-radius: $form-element-radius;
}

textarea.medusa-input
{
	overflow: auto;
	line-height: 1.2em;
	resize: none;
}

.medusa-input-addon
{
	display: table;
	white-space: nowrap;
}

.medusa-input-addon.sm .addon-text,
.medusa-input-addon.sm .medusa-input,
.medusa-input.sm
{
	font-size: 12px;
	padding: 6px;
}

.medusa-input-addon.lg .addon-text,
.medusa-input-addon.lg .medusa-input,
.medusa-input.lg
{
	font-size: 16px;
	padding: 12px;
}

.medusa-input-addon.lg .medusa-button
{
	font-size: 15px;
	padding: 14px 35px;
}

.medusa-input-addon.sm .medusa-button
{
	font-size: 11px;
	padding: 7px 15px;
}

.medusa-input-addon .addon-icon,
.medusa-input-addon .addon-icon-right,
.medusa-input-addon .addon-text,
.medusa-input-addon .medusa-input,
.medusa-input-addon .medusa-button
{
	display: table-cell;
	line-height: 1;
	margin: 0;
	//@include border-radius(0);
}

.medusa-input-addon .addon-text
{
	position: relative;
	padding: 0 10px;
	width: 1px;
	background-color: $secondary-color-light;
	border: 1px solid $secondary-color-dark;
}

.medusa-input-addon .medusa-button
{
	width: 1px;
	padding-top: 0;
	padding-bottom: 0;
}

.medusa-input-addon .addon-text:first-child,
.medusa-input-addon .medusa-button:first-child
{
	border-right: none;
	//@include border-left-radius($form-element-radius);
}

.medusa-input-addon .addon-text:last-child,
.medusa-input-addon .medusa-button:last-child
{
	border-left: none;
	//@include border-right-radius($form-element-radius);
}

.medusa-input-addon .medusa-input:first-child
{
	//@include border-left-radius($form-element-radius);
}

.medusa-input-addon .medusa-input:last-child
{
	//@include border-right-radius($form-element-radius);
}

.medusa-input-addon .addon-icon,
.medusa-input-addon .addon-icon-right
{
	width: 16px;
	height: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
}

.medusa-input-addon .addon-icon
{
	right: auto;
	left: 10px;
}

.medusa-input-addon .addon-icon-right
{
	left: auto;
	right: 10px;
}

.medusa-input-addon .addon-icon ~ .medusa-input
{
	padding-left: 32px;
	//@include border-left-radius($form-element-radius);
}

.medusa-input-addon .addon-icon-right ~ .medusa-input
{
	padding-right: 32px;
	//@include border-left-radius($form-element-radius);
}

.medusa-input-addon>.medusa-input-addon *
{
	//@include border-radius(0);
}

.medusa-input-addon>.medusa-input-addon:first-child
{

}

.medusa-input-addon>.medusa-input-addon:last-child
{

}

.medusa-input:focus,
.medusa-select:focus
{
	box-shadow: 0 0 3px #93d0ea;
	border: 1px solid #93d0ea;
}

.medusa-input.success,
.medusa-input.success:focus
{
	outline: 0;
	-webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	border: 1px solid #99CC33;
}

.medusa-input.warn,
.medusa-input.warn:focus
{
	outline: 0;
	-webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	border: 1px solid rgba(255,156,0,.6);
}

.medusa-input.error,
.medusa-input.error:focus
{
	outline: 0;
	-webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	box-shadow: rgba(0,0,0,.2) 0 1px 1px inset;
	border: 1px solid rgba(200,10,16,.5);
}
