@import 'local';

.medusa-badge {
	display: inline-block;
	min-width: 10px;
	padding: 4px 6px;
	font-size: 12px;
	height: 12px;
	line-height: 100%;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
	margin-left: 0.5em;

	&.right {
		right: 0;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;
		z-index: 1;
	}
}

.medusa-button {
	.medusa-badge {
		margin-top: -50%;
		margin-bottom: -50%;
		margin-right: -1em;
	}
}

.medusa-menu {
	&.navbar {
		.medusa-badge {
			margin-right: -1.5em;
		}

		*.arrow {
			>.medusa-badge {
				margin-right: 0;
			}
		}

		&.stack {
			.medusa-badge {
				margin-right: 1em;
			}
		}
	}
}
