@import 'local';

.medusa-progress {
	display: block;
	position: relative;
	background-color: #eee;
	height: 30px;
	overflow: hidden;

	.label {
		position: absolute;
		display: block;
		text-align: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		z-index: 1;
		height: 14px;
		line-height: 1;

		@include text-truncate;
	}

	.bar {
		display: block;
		position: relative;
		width: 0;
		height: 100%;
		max-width: 100%;
		background-color: #C7D3DF;
		transition : width 1s ease;
	}
}
