@import 'local';

.rel { position: relative; }
.fix { position: fixed; }
.abs { position: absolute; }

.click { cursor: pointer; }

.bold           { font-weight: bold; }
.italic         { font-style: italic; }
.normal         { font-style: normal;font-weight: normal; }
.lowercase      { text-transform: lowercase; }
.uppercase      { text-transform: uppercase; }
.capitalize     { text-transform: capitalize; }

.txt-left      { text-align:left; }
.txt-right     { text-align:right; }
.txt-center    { text-align:center; }
.txt-justify   { text-align:justify; }
.txt-overflow  {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.txt-no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.pull-left      { float: left !important;}
.pull-right     { float: right !important;}
.pull-center    { display: block;margin-left: auto;margin-right: auto;}
.pull-middle    { vertical-align: middle;}

.block          { display: block; }
.inline         { display: inline; }
.inline-block   { display: inline-block; }
.show           { display: block !important;}
.show-inline    { display: inline-block !important;}
.hide           { display: none !important;visibility: hidden !important; }
.invisible      { visibility: hidden; }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
