<div class="content-section">
	<h1 class="section-head">#pagination</h1>
	<ul class="camel-pagination">
		<li><a href="#" class="to-first"></a></li>
		<li><a href="#" class="to-prev"></a></li>
		<li><a href="#" class="active">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#" class="dots"></a></li>
		<li><a href="#">10</a></li>
		<li><a href="#">11</a></li>
		<li><a href="#" class="to-next"></a></li>
		<li><a href="#" class="to-last"></a></li>
	</ul>
	<ul class="camel-pagination collapse">
		<li><a href="#" class="to-first"></a></li>
		<li><a href="#" class="to-prev"></a></li>
		<li><a href="#" class="active">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#" class="dots"></a></li>
		<li><a href="#">10</a></li>
		<li><a href="#">11</a></li>
		<li><a href="#" class="to-next"></a></li>
		<li><a href="#" class="to-last"></a></li>
	</ul>
</div>
